.actions-bar {
	@include defaultColGrid;
	&__inner {
		@include smallColumn;
		display: flex;
	}

	&__goback {
		margin-right: 5px;
	}
	
	&__share-links {
		display: flex;
		align-items: center;
	}

	&__share-item {
		margin-left: 18px;
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		span {
			@include visually-hidden;
		}

		&[data-social-item="facebook"] {
			width: 11px;
			height: 23px;
			background-image: $icon-facebook;
		}
		&[data-social-item="vkontakte"] {
			width: 26px;
			height: 15px;
			background-image: $icon-vkontakte;
		}
	}
}