.awards-section {
	&__inner {
		@include defaultColGrid;
		padding-bottom: 90px;
	}
	&__title {
		@include smallColumn;
		font-weight: normal;
		font-size: 23px;
		line-height: 36px;
		color: #292929;
		margin-bottom: 25px;
	}
	&__item {
		@include smallColumn;
		&:not(:last-child) {
			@include to(768px) {
				margin-bottom: 0;
			}
			margin-bottom: 31px;
		}
		&:last-child {
			@include to(768px) {
				article {
					border-bottom: 1px solid #dedede;
				}
			}
		}
	}
}