.compose {
	@include to(768px) {
		margin-bottom: 40px;
	}

	margin-bottom: 90px;

	&__inner {
		@include defaultColGrid;
	}


	&__title {
		@include smallColumn;
		@include to(768px) {
			font-size: 19px;
			line-height: 28px;
			margin-bottom: 15px;
		}

		font-weight: normal;
		font-size: 28px;
		line-height: 156%;
		color: #292929;
		margin-bottom: 68px;
	}

	&__content {
		@include middleColumn;
		width: 100%;
	}
	
	&__list-wrapper {

		@include to(1280px) {
			justify-content: space-between;
		}
		@include to(640px) {
			gap: initial;
			justify-content: initial;
			flex-wrap: initial;
		}

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;

		& > article {
			width: calc(100% / 3 - 20px);
			@include to(1280px) {
				width: calc(100% / 2 - 10px);
			}
		}
	}

	&__navigation {
		@include from(641px) {
			display: none;
		}
	}
}