.compose {
	margin-bottom: 90px;
	&__inner {
		@include defaultColGrid;
	}

	&__title {
		@include smallColumn;
		font-weight: normal;
		font-size: 28px;
		line-height: 156%;
		color: #292929;

	}

	&__list {
		@include middleColumn;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}

	&__item {

	}
}