.connect {
	margin-bottom: 90px;

	&__inner {
		@include defaultColGrid;
	}

	&__content {
		@include middleColumn;
		@include to(1024px) {
			grid-template-columns: 1fr;
		}

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr auto;
		column-gap: 20px;
	}
	
	&__header {
		@include to(1024px) {
			grid-row: 1;
			grid-column: 1;
			max-width: initial;
		}
		grid-row: 1;
		max-width: 553px
	}

	&__title {
		@include to(768px) {
			font-size: 26px;
			line-height: 35px;
		}
		font-weight: normal;
		font-size: 40px;
		line-height: 54px;
		color: #292929;
		margin-bottom: 20px;
		margin-top: -8px;
	}
	&__text {
		@include to(768px) {
			font-size: 14px;
			line-height: 23px;
		}
		font-weight: 300;
		font-size: 17px;
		line-height: 32px;
		color: #292929;
		margin-bottom: 30px;
	}
	&__form {
		@include to(1024px) {
			grid-row: 2;
			grid-column: 1;
			justify-self: stretch;
			max-width: initial;
			margin-bottom: 55px;
		}
		grid-row: 1 / 4;
		grid-column: 2;
		justify-self: end;
		max-width: 520px;
		.form__checkbox {
			@include from(1025px) {
				margin-top: 38px;
			}
			margin-bottom: 0;
		}
		
	}
	

	&__footer {
		@include to(1024px) {
			grid-row: 3;
			grid-column: 1;
		}
		grid-row: 3;
		max-width: 553px
	}

	&__footer-cap {
		font-weight: normal;
		font-size: 23px;
		line-height: 54px;
		color: #292929;
		margin: 0;
		margin-bottom: 6px;
	}

	&__submit {
		margin-top: 40px;
	}
}