.hero {
	@include to(1024px) {
		margin-bottom: 40px;
		height: initial;
	}

	@include to(768px) {
		margin-bottom: 30px;
	}

	background: #000;
	height: 660px;
	margin-bottom: 90px;

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	&__figure {
		@include to(1024px) {
			position: relative;
			height: 500px;
			max-height: 100vh;
		}

		@include to(768px) {
			height: 380px;
		}

		@include to(425px) {
			height: 300px;
		}

		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		&::after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			opacity: 0.24;
			z-index: 3;
			transition: opacity 1s;
			background: rgb(0, 0, 0);
		}
	}

	&__content {
		@include to(1024px) {
			position: absolute;
			bottom: 0;
			grid-template-rows: auto 95px;
			padding-bottom: 0;
			gap: 20px;
		}

		position: relative;
		z-index: 2;

		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;
		padding-bottom: 35px;
	}

	&__infobar {
		@include to(1024px) {
			grid-column: 1 / -1;
			padding: 0 20px;

		}

		grid-column: 1 / span 6;
		padding-left: 40px;
	}

	&__types {
		@include to(1024px) {
			grid-column: 1 / -1;
			align-self: center;
			justify-self: center;
			padding: 0 20px;
			background: #fff;
		}

		grid-column: 7 / span 6;
		justify-self: end;
		align-self: end;
		padding-right: 40px;
		padding-bottom: 5px;
	}

	&__type-link {
		@include to(1024px) {
			background: #ebebeb;
			color: #292929;

			&:hover {
				background: #dddddd;
				color: #292929;
			}
		}

		border-radius: 23.5px;
		background: rgba(255, 255, 255, 0.2);
		color: #fff;
		font-size: 14px;
		line-height: 37px;
		transition: background-color 0.3s ease-in-out,
		color 0.3s ease-in-out;

		&:hover {
			background-color: rgba(255, 255, 255, 0.25);
			color: #fff;
		}
	}

	&__text-sup {
		font-weight: normal;
		font-size: 17px;
		line-height: 24px;
		color: #ffffff;
		margin-bottom: 8px;

		@include to(768px) {
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__text-title {
		font-weight: normal;
		font-size: 25px;
		line-height: 133%;
		color: #ffffff;

		@include to(768px) {
			font-size: 19px;
			line-height: 23px;
		}
	}

	&--nogradient {
		.hero__figure::after {
			display: none;
		}
	}

	&--info {
		@include to(1024px) {
			background: linear-gradient(#000 500px, #fff 0);
			padding-bottom: 95px;
		}

		@include to(768px) {
			background: linear-gradient(#000 300px, #fff 0);
		}
	}
	&--title {
		@include to(1024px) {
			background: linear-gradient(#000 500px, #fff 0);
		}
		.hero__content {
			@include to(1024px) {
				grid-template-rows: auto;
				padding-bottom: 35px;
			}
			@include to(768px) {
				padding-bottom: 20px;
			}
		}
	}
}