.hero-slider {
	$this: &;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	position: relative;
	z-index: 1;
	background: #000;
	cursor: pointer;

	&__thumb {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		opacity: 0;
		pointer-events: none;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__objects {
		.swiper-wrapper {
			transition-timing-function: cubic-bezier(0.64, 0.01, 0.43, 0.99);
		}
	}
	&__object {
		@include to(460px) {
			overflow: hidden;
		}
		img, video {
			min-width: 100%;
			min-height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: background 0.3s;
		}
		// контейнер для объкта
		figure {
			@include to(460px) {
				will-change: transform;
				transition: transform 10s linear;
			}
			
			position: relative;
			height: 100vh;
			overflow: hidden;
			&::before {
				content: "";
				background: rgba(0, 0, 0, 0.24);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
			}
		}
		
		&.swiper-slide-active {
			@include to(460px) {
				figure {
					// animation-name: zooming;
					// animation-duration: 40s;
					// animation-fill-mode: both;
					// animation-iteration-count: infinite;
					transform: scale(1.1);
				}
				
			}
		}
	}
	&__labels {
		@include to(1366px) {
			bottom: 53px;
		}
		@include to(1024px) {
			left: 20px;
		}
		@include to(768px) {
			width: calc(100% - 40px);
		}
		position: absolute;
		z-index: 2;
		bottom: 34px;
		left: 40px;
		width: 60vw;
		overflow: visible;
		opacity: 0;
		pointer-events: none;
		.swiper-wrapper {
			transition-timing-function: ease-out;
			display: flex;
			align-items: flex-end;
		}
		.swiper-slide {
			opacity: 0;
			transition: opacity 0.5s cubic-bezier(0.64, 0.01, 0.43, 0.99);
		}
		.swiper-slide-active {
			opacity: 1;
		}

		&.swiper-container-initialized {
			opacity: 1;
		}
	}

	&__controls {
		@include to(1366px) {
			bottom: 53px;
		}
		position: absolute;
		right: 40px;
		bottom: 25px;
		z-index: 13;

		display: flex;
		align-items: center;
	}

	&__sound {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #ffffff;
		align-items: center;
		z-index: 3;
		cursor: pointer;
		display: flex;
		order: 0;

		&::before {
			content: "";
			flex-shrink: 0;
			display: block;
			margin-right: 8px;
			width: 20px;
			height: 20px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			background-image: $icon-volume-light;
		}
		&.is-active {
			&::before {
				background-image: $icon-volume-off-light;
			}
		}
		@include to(768px) {
			display: none;
		}
		@media (max-width: 950px) and (max-height: 450px) {
			display: none;
		}
	}

	&__language {
		@include to(1024px) {
			display: none;
		}
		background: rgba(255, 255, 255, 0.2);
		border-radius: 23.5px;
		height: 35px;
		margin-left: 30px;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
		transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

		&::before {
			content: "";
			flex-shrink: 0;
			display: block;
			margin-right: 8px;
			width: 17px;
			height: 17px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			background-image: $icon-globus-light;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.25);
		}
	}

	&__arrow {
		position: absolute;
		top: 0;
		height: 100%;
		width: 20%;
		opacity: 0;
		z-index: 1;
		transition: all 0.3s ease-in-out;
		&.hero-slider__right {
			right: 0;
		}
		&.hero-slider__left {
			left: 0;
		}
		&:hover {
			opacity: 1;
		}
	}
	
	.swiper-pagination {
		@include to(1366px) {
			bottom: 20px;
		}
		position: absolute;
		bottom: 25px;
		z-index: 10;
		width: 100%;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.swiper-pagination-bullet {
		border-radius: 0;
		height: 3px;
		width: 30px;
		margin: 0 6px;
		padding: 6px 0;
		opacity: 1;
		overflow: hidden;
		position: relative;
		background-color: transparent;
		animation-duration: 20s;
		&::before {
			content: "";
			display: block;
			opacity: 0;
			position: absolute;
			left: 0;
			top: 50%;
			height: 3px;
			background: white;
			width: 100%;
			transform: translate(0, -50%);
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			height: 3px;
			left: 0;
			width: 100%;
			background: rgba(255, 255, 255, 0.39);
			transform: translate(0, -50%);
		}
	}
	.swiper-pagination-bullet-active {
		&::before {
			opacity: 1;
			animation-name: widthbullet;
			animation-duration: inherit;
			animation-timing-function: linear;
		}
	}
	.swiper-button-prev, .swiper-button-next {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		border: 0;
		width: 17px;
		height: 31px;
		top: 50%;
		transform: translate(0, -50%);
		left: 40px;
		position: absolute;
		padding: 0;
		color: transparent;
		overflow: hidden;
		z-index: 2;
		background: none;
		cursor: pointer;
		opacity: 0.7;
		transition: 0.3s ease-in-out;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			background-image: url(../images/shevron.png);
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.swiper-button-next {
		left: auto;
		right: 40px;
		transform: translate(0, -50%) rotate(180deg);
	}
	& > * {
		user-select: none;
	}

	&--homeproject {
		#{$this}__labels {
			bottom: 60px;
		}
	}
}

@keyframes widthbullet {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
@keyframes zooming {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
	100% {
		transform: scale(1);
	}
}

.hero-label {
	color: #fff;
	&__inner {
		max-width: 613px;
		.hero-slider--homeproject & {
			max-width: 700px;
		}
	}
	&__cap {
		@include to(768px) {
			font-size: 16px;
		}
		@include to(375px) {
			font-size: 12px;
			line-height: 14px;
		}
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 100%;
		color: #ffffff;
		margin-bottom: 8px;
	}

	&__name {
		@include to(768px) {
			font-size: 20px;
		}
		@include to(375px) {
			font-size: 16px;
			line-height: 24px;
		}
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 140%;
		color: #ffffff;

		.hero-slider--homeproject & {
			font-weight: 300;
			font-size: 40px;
			line-height: 110%;
			margin-bottom: 15px;
		}
	}

	&__article {
		font-weight: 500;
		font-size: 40px;
		line-height: 110%;
		color: #fff;
		margin-top: 2px;
	}
	&__project-info {
		display: flex;
		align-items: center;
	}
	&__price {
		font-weight: 300;
		font-size: 60px;
		line-height: 71px;
		margin-right: 56px;
	}
	&__area {
		font-weight: 500;
		font-size: 40px;
		line-height: 110%;
	}
}