.item-card {
	position: relative;
	&__figure {
		position: relative;
		width: 100%;
		padding-bottom: 51.5%;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 5s;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #bfbdb7;
		padding: 30px;
		color: #ffffff;
		transition: 0.3s ease-in-out;
		@include to(768px) {
			padding: 0 20px;
			height: 74px;
		}
	}

	&__cap {
		font-weight: normal;
		font-size: 17px;
		line-height: 28px;
		@include to(768px) {
			font-size: 14px;
			line-height: 23px;
		}
	}

	&__overlink {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
		cursor: pointer;
	}

	&__date {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		margin-top: 17px;
		color: #292929;
	}
	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 30px;
		color: #292929;
		margin-bottom: 13px;
	}

	&__description {
		font-weight: 300;
		font-size: 15px;
		line-height: 24px;
		color: #292929;
	}

	.item-card__overlink:hover ~ .item-card__figure img {
		transform: scale(1.1);
	}
	
	.item-card__overlink:hover ~ .item-card__content {
		background: #aba9a5;
	}
	

	&--sertificate {
		max-width: 400px;
		margin: 0 auto;
		.item-card__figure {
			padding-bottom: 147%;
			img {
				border: 1px solid #292929;
			}
		}
		.item-card__overlink:hover ~ .item-card__figure img {
			transform: none;
		}
		.item-card__overlink:hover ~ .item-card__content {
			background: #bfbdb7;
		}
		.item-card__content {
			@include to(1024px) {
				font-size: 14px;
				line-height: 23px;
				padding: 15px;
			}
			@include to(768px) {
				padding: 15px;
				height: auto;
			}

		}
	}

	&--compose {
		.item-card__figure {
			padding-bottom: 55.035%;
			img {
				transition: transform 5s;
			}
		}
		.item-card__content {
			padding-left: 38px;
			padding-right: 28px;
			justify-content: start;
		}
	}

	&--press {
		.item-card__content {
			padding: 20px 40px;
			padding-bottom: 30px;
			background: #f4f4f4;
			min-height: 225px;

			display: flex;
			flex-direction: column;
			align-items: start;
		}
		.item-card__overlink:hover ~ .item-card__content {
			background: #ebebeb;
		}
		
		.item-card__overlink:hover ~ .item-card__figure img {
			transform: none;
		}
		.item-card__content {
			@include to(768px) {
				padding: 20px;
				height: auto;
			}
		}
	}
}