.item-card {
	position: relative;
	&__figure {
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #bfbdb7;
		padding: 30px;
		color: #ffffff;
		transition: 0.3s ease-in-out;
	}

	&__cap {
		font-weight: normal;
		font-size: 17px;
		line-height: 28px;
	}

	&__overlink {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
		cursor: pointer;
	}

	&--sertificate {
		.item-card__figure {
			position: relative;
			width: 100%;
			padding-bottom: 147%;
			img {
				border: 1px solid #292929;
			}
		}
	}

	&--compose {
		.item-card__figure {
			position: relative;
			width: 100%;
			padding-bottom: 55.035%;
			overflow: hidden;
			img {
				transition: transform 5s;

			}
		}
		.item-card__content {
			padding-left: 38px;
			padding-right: 28px;
			justify-content: start;
		}

		.item-card__overlink:hover ~ .item-card__figure img {
			transform: scale(1.1);
		}
		.item-card__overlink:hover ~ .item-card__content {
			background: #aba9a5;
		}
	}
}