.page {
	overflow: hidden;
	min-height: 100vh;
	&__goback {
		@include to(768px) {
			margin-bottom: 40px;
		}
		margin-bottom: 90px;
		display: flex;
		justify-content: center;
	}
	
	&__goback-btn {
		padding: 0 45px;
		text-transform: capitalize;
		font-weight: 500;
	}
	&--main {
		@include to(1024px) {
			.shortabout {
				display: none;
			}
			.page__footer {
				display: none;
			}
		}
		@include to(768px) {
			height: calc(var(--vh, 1vh) * 100);
			min-height: calc(var(--vh, 1vh) * 100);
			max-height: calc(var(--vh, 1vh) * 100);
		}
	}
}

.page-bar {
	$this: &;
	@include bigColumn;
	@include to(1024px) {
		margin-top: 62px;
	}
	@include to(768px) {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		height: auto;
		margin-bottom: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	margin-top: 100px;
	padding-top: 29px;
	padding-bottom: 29px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	min-height: 107px;
	&__title {
		@include to(768px) {
			font-size: 19px;
			line-height: 23px;
		}
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		line-height: 217%;
		color: #292929;
	}

	.pill-btn {
		@include to(768px) {
			height: 35px;
			line-height: 35px;
			font-size: 13px;
			margin-top: 18px;
		}
	}

	&:empty {
		height: auto;
		padding: 29px 40px;
		margin-bottom: 0;
	}

	&--ah {
		min-height: initial;
		padding-top: 80px;
		padding-bottom: 60px;
		#{$this}__title {
			font-weight: 300;
			font-size: 40px;
			line-height: 110%;
			color: #272727;
		}
	}
}

.page #map {
	ymaps ymaps ymaps ymaps ymaps ymaps ymaps ymaps ymaps ymaps {
		overflow: visible !important;
	}
	.hintContent-title {
		color: #292929;
		font-weight: 700;
		display: block;
	}
	.hintContent-text {
		color: #292929;
	}
	& > ymaps {
		max-height: 100%;
		max-width: 100%;
	}
	
	[class*="-hint"] {
		border-radius: 4px;
	}
	.ymaps-b-zoom_hints-pos_right {
		left: auto !important;
		right: 8px;
	}

	.yaMap_head img {
		position: absolute;
		width: calc(100% + 42px);
		height: 184px;
		left: -12px;
		top: -10px;
	}
}