.page {
	overflow: hidden;
	min-height: 100vh;
	&__goback {
		@include to(768px) {
			margin-bottom: 40px;
		}
		margin-bottom: 90px;
		display: flex;
		justify-content: center;
	}
	
	&__goback-btn {
		padding: 0 45px;
		text-transform: capitalize;
		font-weight: 500;
		@include to(768px) {
			padding-left: 20px;
			padding-right: 20px;
			font-weight: 400;
		}
	}
	&--main {
		@include to(1024px) {
			.shortabout {
				display: none;
			}
			.page__footer {
				display: none;
			}
		}
	}
}

.page-bar {
	@include to(1024px) {
		margin-top: 62px;
	}
	@include to(768px) {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		height: auto;
		margin-bottom: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	@include bigColumn;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	height: 125px;
	&__title {
		@include to(768px) {
			font-size: 19px;
			line-height: 23px;
		}
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		line-height: 217%;
		color: #292929;
	}

	.pill-btn {
		@include to(768px) {
			height: 35px;
			line-height: 35px;
			font-size: 13px;
			margin-top: 18px;
		}
	}

	&:empty {
		height: auto;
		padding: 29px 40px;
	}
}

