.press-items {
	margin-bottom: 90px;
	&__inner {
		@include defaultColGrid;
	}
	&__list {
		grid-column: 3 / span 8;
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	.paginator {
		margin-top: 40px;
		grid-column: 3 / span 8;
	}
}