.press-items {
	@include to(768px) {
		margin-bottom: 40px;
	}
	margin-bottom: 90px;
	&__inner {
		@include defaultColGrid;
	}
	&__list {
		@include middleColumn;
		@include to(768px) {
			grid-template-columns: 1fr;
		}
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	&__item {
		.item-card__figure {
			padding-bottom: 60.7%;
		}
	}
	.paginator {
		@include middleColumn;

		margin-top: 40px;
	}
}