.press-items {
	margin-bottom: 90px;
	&__inner {
		@include defaultColGrid;
	}
	&__list {
		@include middleColumn;

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	.paginator {
		@include middleColumn;

		margin-top: 40px;
	}
}