.project-map {
	@include to(768px) {
		margin-bottom: 40px;
	}

	margin-bottom: 90px;
	&__inner {
		@include bigColumn;
		position: relative;
	}

	&__main {
		@include to(1024px) {
			margin: 0 -20px;
		}
		background: #f3f3f3;
		position: relative;
		&::after {
			@include to(600px) {
				padding-top: 100%;
			}
			content: '';
			display: block;
			padding-top: 43.53%;
			width: 100%;
		}
		#map {
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}

	&__info {
		@include to(1280px) {
			padding: 20px;
			justify-content: space-between;
		}
		@include to(1024px) {
			position: static;
			padding: 0;
			background: transparent;
			width: 100%;
		}
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		width: 35%;
		// max-width: 530px;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		padding-left: 80px;
		padding-right: 70px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		z-index: 2;
	}

	&__text {
		@include to(1280px) {
			margin-bottom: 20px;
		}
		@include to(1024px) {
			margin-bottom: 20px;
			margin-top: 30px;
			font-size: 16px;
			line-height: 144%;
			color: #292929;
		}
		font-weight: 300;
		font-size: 28px;
		line-height: 145%;
		color: #ffffff;
		margin-bottom: 140px;
		max-width: 100%;
	}

	&__link {
		@include to(1024px) {
			background: #ebebeb;
			color: #292929;
		}
		background: rgba(255, 255, 255, 0.12);
		border-radius: 23.5px;
		font-family: Rubik;
		font-style: normal;
		display: inline-block;
		padding: 0 25px;
		font-weight: 300;
		font-size: 16px;
		line-height: 47px;
		text-align: center;
		color: #ffffff;
	}
}