.text-section {
	margin-bottom: 90px;

	&__inner {
		@include defaultColGrid;
	}
	&__item {
		@include smallColumn;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&--sertificates {
		.text-box {
			margin-bottom: 50px;
		}
	}
}