.tiles {

	&__list {
		@include to(768px) {
			grid-template-columns: 1fr;
		}
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&__tile {
		background: #000000;
		@include from(769px) {
			border-bottom: 1px solid #000000;
			&:nth-child(2n + 1) {
				border-right: 1px solid #000000;
			}
		}
		.wide-card {
			position: relative;
    		transition: transform 0.9s ease-in-out, opacity 0.9s;
			&__pic {
				opacity: 0;
				transition: opacity 1.5s;
			}
		}
		&:nth-child(2n-1) {
			.wide-card {
				transform: translate(-5%, 25%);

			}
		}
		&:nth-child(2n) {
			.wide-card {
				transform: translate(5%, 25%);
			}
		}
		&.is-loaded {
			.wide-card {
				transform: translate(0, 0);
				&__pic {
					opacity: 1;
				}
			}
		}
		@include to(768px) {
			&:nth-child(2n-1),
			&:nth-child(2n) {
				.wide-card {
					transform: translate(0, 25%);
				}
			}
			&.is-loaded {
				.wide-card {
					transform: translate(0, 0);
				}
			}
		}
	}

	&--ah-ctg {
		.tiles__list {
			grid-template-columns: repeat(3, 1fr);
		}
		.tiles__tile:nth-child(n) {
			border: none;
		}
	}
	&--ah-ready {
		.tiles__list {
			grid-template-columns: repeat(2, 1fr);
		}
		.tiles__tile:nth-child(n) {
			border: none;
		}
	}
}