.vacancy {
	@include to(768px) {
		margin-left: -20px;
		margin-right: -20px;
	}
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 93px;
		padding: 0 30px 0 20px;
		border-top: 1px solid #DADADA;
		cursor: pointer;
		transition: background 0.6s;
		@include to(768px) {
			height: 54px;
		}
		h3 {
			font-weight: normal;
			font-size: 17px;
			line-height: 36px;
			color: #292929;

			@include to(768px) {
				font-size: 14px;
				line-height: 23px
			}
		}

		button {
			border: none;
			background-color: transparent;
			width: 20px;
			height: 20px;
			background-size: 17px 10px;
			background-position: center;
			background-image: $icon-chevron;
			background-repeat: no-repeat;
			cursor: pointer;
			transition: transform 0.3s ease-in;
		}
	}

	&__body {
		background: #F4F4F4;
		overflow: hidden;
		height: 0;
		transition: height 0.6s;
		padding: 0 20px;
	}

	&__item {
		margin-bottom: 30px;
		@include to(768px) {
			margin-bottom: 15px;
		}
		p {
			font-weight: 300;
			font-size: 17px;
			line-height: 36px;
			color: #292929;
			b {
				font-weight: 500;
				line-height: 32px;
			}

			a {
				display: block;
				color: #292929;
			}
			@include to(768px) {
				font-size: 14px;
				line-height: 23px;
			}
		}
		ul {
			list-style-type: disc;
			padding-left: 20px;
		}
		li {
			font-weight: 300;
			font-size: 17px;
			line-height: 32px;
			color: #292929;
			@include to(768px) {
				font-size: 14px;
				line-height: 23px;
			}
		}

		&--row {
			display: flex;
			gap: 26px;
			@include to(768px) {
				display: block;
			}
		}
	}

	&__subitem {
		@include to(768px) {
			margin-bottom: 15px;
		}
	}

	&__body > .pill-btn {
		margin-bottom: 40px;
		background: #fff;
		@include to(768px) {
			margin-bottom: 30px;
		}
	}

	&.is-active {
		.vacancy__head {
			background: #F4F4F4;
			button {
				transform: rotate(180deg);
			}
		}
	}
}