.vacancies {
	&__inner {
		@include defaultColGrid;
		margin-bottom: 90px;
	}

	&__title {
		@include smallColumn;
		font-weight: normal;
		font-size: 23px;
		line-height: 36px;
		color: #292929;
		margin-bottom: 30px;
	}

	&__list {
		@include smallColumn;
	}

	&__item {
		&:last-child {
			.vacancy {
				border-bottom: 1px solid #DADADA;
			}
		}
	}
	
}