.yaMap_head {
	position: relative;
	width: 400px;
	height: 174px;
}

.yaMap_head img {
	position: absolute;
	width: calc(100% + 42px);
	height: 184px;
	left: -12px;
	top: -10px;
}

.yaMap_content p {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
	color: #292929;
}

.yaMap_content h3 {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	color: #292929;
	margin-top: -2px;
	margin-bottom: 20px;
}

.yaMap_content .pill-btn {
	margin-bottom: 10px;
}

.ym_baloon_content .yaMap_head img {
	width: 100%;
	height: auto;
}

.ym_baloon_content .yaMap_content {
	padding: 0 20px;
}

.ym_baloon_content .yaMap_content p {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #292929;
}

.ym_baloon_content .yaMap_content h3 {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	margin-top: 0;
	display: flex;
	align-items: center;
	color: #292929;
}