.gallery {
    width: 100%;
    height: 100%;
    &__inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    &__thumbs {
        @include to(768px) {
            display: none;
        }
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: left top;
        width: 145px;
        height: 140px;
        overflow: visible;
        &::before {
            width: 100%;
            content: '';
            height: 100vh;
            position: absolute;
            left: 0;
            top: 100%;
            display: block;
            z-index: -1;
        }
    }
    &__thumb-slide {
        padding: 0;
        border-bottom: 1px solid #ffffff;
        position: relative;
        overflow: hidden;
        &.swiper-slide-active {
            border: solid 2px red !important;
            opacity: 0.5;
            &::before {
                opacity: 0.4;
            }
        }
        &::before {
            content: "";
            transition: all 0.3s ease-in-out;
            position: absolute;
            top: 0;
            opacity: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: #000;
        }
        &:hover::before {
            opacity: 0.2
        }
        img {
            width: auto;
            height: 100%;
            min-width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: transform 9s linear;
        }
        &:hover img {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
    &__thumb-video {
        &::after {
            content: "";
            display: block;
            width: 50px;
            z-index: 2;
            height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url(../images/play.png);
        }
    }
    &__main {
        @include to(768px) {
            margin: 0;
            width: 100%;
            height: calc(100% - 72px);
        }
        height: 100%;
        width: calc(100% - 180px - 45px - 45px);
        margin-left: 180px;
        padding-top: 45px;
        padding-bottom: 45px + 30px;
        position: relative;
        .swiper-wrapper {
            align-items: center;
        }
    }

    &__main-slide {
        height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        &.swiper-slide-active {
            z-index: 3;
        }
        
        &.swiper-slide.zoomed {
            img {
                cursor: grab;
            }
        }
        .swiper-zoom-container > canvas, 
        .swiper-zoom-container > img, 
        .swiper-zoom-container > svg {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
    &__main-slide:not(.gallery__main-video) img {
        cursor: zoom-in;
    }

    &__main-arrow {
        @include to(768px) {
            display: none;
        }
        width: 10%;
        height: 100%;
        position: absolute;
        z-index: 10;
        top: 0;
        display: flex;
        align-items: center;
        opacity: 0;
        cursor: pointer;
        &:hover {
            opacity: 1;
            color: #e3256b;
            justify-content: center;
        }
        &::after {
            width: 30%;
            font-size: 40px;
        }
    }
    &__main-prev {
        left: 0;
        justify-content: flex-end;
        &::after {
            content: '<';
        }
    }
    &__main-next {
        right: 0;
        justify-content: flex-start;
        &::after {
            content: '>';
            text-align: right;
        }
    }

    .swiper-lazy-preloader {
        border: 2px solid black !important;
        border-top-color: transparent !important;
    }
    &__mobnav {
        @include from(769px) {
            display: none;
        }
        padding: 23px 0;
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        justify-content: space-between;
    }
    &__mobnav-arrow {
        outline: 0;
        width: calc(50% - 40px);
        height: 30px;
        background-repeat: no-repeat;
        background-size: 6px 13px;
        background-image: url(../images/str_left_white.png);
        filter: invert(1);
        &--prev {
            padding-left: 30px;
            background-position: 30px center;
        }
        &--next {
            transform: rotate(-180deg);
            background-position: 30px center;
            padding-left: 30px;
        }
    }
    &__mobnav-count {
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 10px;
        line-height: 25px;
        text-align: center;
        color: #292929;
    }
    &--single {
        .gallery__thumbs {
            display: none;
        }
        .gallery__main {
            width: calc(100% - 70px);
            margin-left: 35px;
        }
        .gallery__main-arrow {
            display: none;
        }
        .gallery__mobnav {
            display: none;
        }
    }
}