<svg width="11" height="23" viewBox="0 0 11 23" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.28247 5.23211V7.47461H10.905L10.445 11.4996H7.28247V22.7121H2.33747V11.4996H0.0949707V7.47461H2.33747V5.23211C2.33747 5.23211 1.93497 0.977109 5.95997 0.287109H10.905V3.90961H8.66247C8.66247 3.85211 7.39747 3.79461 7.28247 5.23211Z" fill="#292929"/>
</svg>
