extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about career"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 About career

			//- hero banner just image

			//- section text 
			//- -- hero
			//- -- simble
			//- -- contacts
			//- -- vacancies accordeon (на сайте сейчас отсутствует)


		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug