extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about career"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-about.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
						img(src="images/hero-career.jpg" alt="О компании")
			//- section text
			section.text-section
				div.text-section__inner
					div.text-box.text-section__item
						h1 Карьера
						h4 За годы работы наша компания приобрела весомый опыт и – особо ценное – доверие заказчиков, поручающих специалистам Архитектурного бюро «А.Лен» разработку и ведение проектов высокой сложности.
						p Добившись устойчивого положения в области архитектурного проектирования, мы идем в ногу со временем, не останавливаемся на достигнутом и постоянно совершенствуемся. На этом пути мы открыты для сотрудничества как со специалистами высокой квалификации, так и с целеустремленными выпускниками ВУЗов.
						p Если Вы настроены на результат, обладаете желанием работать творчески и упорно, мы будем рады принять Вас в команду «А.Лен».
						h4.no-mt Для рассмотрения Вашей кандидатуры предлагаем отправить резюме с указанием названия вакансии:
						div.resume-contact-box
							div
								p По e-mail: #[br] #[b office@a-len.ru]
							div
								p Или позвонить: #[br] #[b +7 (812) 579-55-81]
							div
								p Вы можете воспользоваться бланком для заполнения резюме
								a.pill-btn(href="blanc.doc" download) Скачать бланк
						p Если Вы хотите работать в Архитектурном бюро «А.Лен», но не нашли подходящей вакансии, можете выслать свое резюме с указанием интересующего направления, диапазона Ваших знаний и профессионального опыта. Все резюме вносятся в базу данных отдела персонала и рассматриваются при появлении соответствующей вакансии.
			section.vacancies
				div.vacancies__inner
					h2.vacancies__title В настоящее время в компании открыты следующие вакансии:
					ul.vacancies__list
						li.vacancies__item
							article.vacancy
								header.vacancy__head
									h3 Ведущий инженер ВК
									button(type="button")
								div.vacancy__body
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, beatae. Fuga, fugit vel. Consequuntur quibusdam minima reiciendis minus amet eius deleniti. Nesciunt culpa eligendi quasi aspernatur placeat qui et veritatis.
									a(href="откликнуться").pill-btn.pill-btn--mist Откликнуться
						li.vacancies__item
							article.vacancy
								header.vacancy__head
									h3 Бухгалтер по расчету заработной платы
									button(type="button")
								div.vacancy__body
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, beatae. Fuga, fugit vel. Consequuntur quibusdam minima reiciendis minus amet eius deleniti. Nesciunt culpa eligendi quasi aspernatur placeat qui et veritatis.
									a(href="откликнуться").pill-btn.pill-btn--mist Откликнуться


		div.page__popup
			//- пока заготовка, попапы надо продумать покрепче
			div.popup__item(id="careers")
				div.popup__box
					div.popup__title Отправить резюме
					div.popup__form
						form.form.send-resume-form(action="")
							.form__inputbox.form__box
								label(for="").form__label
								input(type="text") 
							.form__inputbox.form__box
								label(for="").form__label
								input(type="text")
							.form__inputbox.form__box
								label(for="").form__label
								input(type="text") 
							.form__inputbox.form__box
								label(for="").form__label
								input(type="text")
							.form__textarea.form__box
								label(for="").form__label
								textarea(name="")
							.form__file.form__box
								label(for="")
								input(type="file")
								div.form__filelist
									label(for="")
									ul 
			div.popup__item
				div.popup__box
					div.popup__title Спасибо. Мы свяжемся с вами в скором времени.
					a.pill-btn(href="#careers") Отправить еще одно резюме
		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/main.js")