extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about history"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 About history

			//- hero banner just image

			//- section flow widecards

		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug