extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-about.pug
		main.page__main
			//- hero banner just image
			section.hero.hero--nogradient
				figure.hero__figure
					picture
						img(src="images/hero-about.jpg" alt="О компании")
			//- section text
			section.text-section
				div.text-section__inner
					div.text-section__item.text-box.scroll-anim.fade-up
						h1 Архитектурное бюро «А.Лен»
					div.text-section__item.numbers-box.scroll-anim.fade-up
						dl
							dt 28
							dd лет на рынке архитектурного #[br] проектирования
						dl
							dt 80
							dd штатных архитекторов, #[br] конструкторов, инженеров
						dl
							dt 500+
							dd выполненных проектов
						dl
							dt Свыше #[br] 1 000 000 кв.м
							dd жилья построено по проектам «А.Лен»
					div.text-section__item.author-box.scroll-anim.fade-up
						figure 
							picture 
								img(src="images/about-author.jpg" alt="Сергей Орешкин")
						div
							p #[b «Архитектура – это наука], законы развития которой схожи с математикой. И если на школьном уровне базовые знания доступны большинству, то в стадии пика зрелости высший уровень доступен немногим. Это тот наиболее ценный период, когда технические знания не управляют архитектором, а становятся обязательными помощниками».
							footer
								a(href="about-oreshkin.html") Сергей Орешкин
								span Основатель и руководитель Архитектурного бюро «А.Лен»
					div.text-section__item.text-box.scroll-anim.fade-up
						h2 Заказ проекта в Архитектурном бюро «А.Лен» — гарантия высокого профессионализма и опыта
						p #[a(href="") Портфолио «А.Лен»] насчитывает сотни архитектурных проектов объектов жилого, общественного и промышленного назначения, мастер-планов развития территорий. Большой процент разработок воплощен в жизнь.
						p География объектов: Анапа, Вологда, Воронеж, Выборг, Геленджик, Екатеринбург, Казань, Москва, Московская область, Нижний Новгород, Новосибирск, Республика Саха, Самара, Санкт-Петербург и Ленинградская область, Саранск, Сочи, Сургут, Тула, Тюмень, Уфа, Ярославль, другие города России.
						p Творческий и одновременно четко регламентированный процесс проектирования в «А.Лен» с использованием программы эффективности управления компанией.
						p Конкурентоспособная и динамичная команда «А.Лен», быстро реагирующая на любые вызовы строительного рынка.
						p Состав команды – это креативный отдел архитекторов, собранный из лучших выпускников ведущих архитектурных ВУЗов Санкт-Петербурга и России, а также высокопрофессиональные инженеры и конструкторы, не чуждые новаторских подходов в своей деятельности.
			//- section photo
			section.gallery-preview
				div.gallery-preview__inner
					article.gallery-preview__content
						figure.gallery-preview__picture
							picture
								img(src="images/about-gallery-preview.jpg" alt="")
						button.gallery-preview__load.pill-btn(type="button") Фото и видео

		div.page__popup
			include ../../blocks/modules/popup/popup.pug

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/index.js")