extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about oreshkin"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
			//- section text 
			section.text-section
				div.text-section__inner
					div.text-box
						h1 Сергей Иванович Орешкин
						ul 
							li Заслуженный архитектор Российской Федерации
							li Лауреат Премии Правительства Санкт-Петербурга в области архитектуры за 2017 г.
							li Лауреат Премии Правительства Республики Мордовия в области архитектуры за 2018 г.
					div.social-box
						h2 Социальные сети
						div.social-box__block
							a(href="" data-social-item="pinterest").social-box__item
								span.social-box__icon 
								span.social-box__txt Личный профиль С.И. Орешкина 
							a(href="" data-social-item="pinterest").social-box__item
								span.social-box__icon 
								span.social-box__txt Личный профиль С.И. Орешкина 
						div.social-box__block
							a(href="" data-social-item="behance").social-box__item
								span.social-box__icon 
								span.social-box__txt Личный профиль С.И. Орешкина 
							a(href="" data-social-item="behance").social-box__item
								span.social-box__icon 
								span.social-box__txt Личный профиль С.И. Орешкина 
						div.social-box__block
							a(href="" data-social-item="instagram").social-box__item
								span.social-box__icon 
								span.social-box__txt Личный профиль С.И. Орешкина 
							a(href="" data-social-item="vkontakte").social-box__item
								span.social-box__icon 
								span.social-box__txt Личный профиль С.И. Орешкина
		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug