extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about history"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-about.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
						img(src="images/hero-history.jpg" alt="О компании")
			//- section flow widecards
			section.history-section
				ul.history-section__inner
					li.history-section__item
						article.history-card
							header
								h1 А – значит Архитектура
								p «Архитектурный Ленинград» – так расшифровывается «А.Лен».
							div
								h3 Вспоминает Сергей Орешкин:
								p «Название сразу родилось как Архитектурный Ленинград», Потом, из-за юридических тонкостей, стали «А.Лен». Почти сразу пришла группа из 7 архитекторов и инженеров из «Ленремстройпроекта» и группа из «Курортпроекта». Потом присоединились архитекторы из «ЛЕННИИПРОЕКТа» и других институтов.»
					li.history-section__item
						article.history-card
							header
								h2 Первые 10 лет
								h3 1991-1995
								p первый в России дилерский центр «Volkswagen» во Всеволожске, Ленинградская область
								h3 1993-2000
								p один из первых крупных коттеджных поселков в Санкт-Петербурге «Русская деревня» в посёлке Юкки
							div
								h3 И вновь история от первого лица:
								i «Первый офис мы открыли в здании института «Курортпроект», а через три года купили свой офис на Захарьевской улице, 14, где в те годы занимались в основном небольшими проектами: коттеджами и коттеджными поселками, торговыми павильонами, АЗС, автосервисом и реконструкциями.
								i Постепенно проекты становились крупнее и к 1995 году мы стали основным проектировщиком элитной и коммерческой застройки во Всеволожском районе Ленинградской области
								i Из больших проектов 1990-х выделяются такие знаковые для Санкт-Петербурга объекты, как реконструкция Гостиного двора на Невском проспекте, реконструкция головного офиса «Альфа-банка» на набережной канала Грибоедова около Русского музея на углу с Итальянской улицей.»
					li.history-section__item
						article.history-card
							header
								h2 Первые 10 лет
								h3 1991-1995
								p первый в России дилерский центр «Volkswagen» во Всеволожске, Ленинградская область
								h3 1993-2000
								p один из первых крупных коттеджных поселков в Санкт-Петербурге «Русская деревня» в посёлке Юкки
							div
								p
									| Жилой дом на ул. Большая Посадская в Санкт-Петербурге #[br] Бизнес-центр на ул. Марата в Санкт-Петербурге #[br] Комплекс Мерседес Олимп на Херсонской улице в Санкт-Петербурге #[br] Коттеджный поселок в Репино «Консульская деревня» #[br] Дилерские автоцентры в Санкт-Петербурге: «Porshe» на улице Савушкина, #[br] «Infinity» на улице Школьной, #[br] «Ford» на Выборгском шоссе, на проспекте Маршала Жукова, Левашовском шоссе, #[br] «Nissan» на Выборгском шоссе, «Toyota», «Lexus» на Пулковском шоссе.
					li.history-section__item
						article.history-card
							header
								h2 1991
								p Дата создания Архитектурного бюро «А.Лен» – 28 марта 1991 года. 
							div
								h3 Сергей Орешкин:
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, perferendis natus facilis dolorem blanditiis, facere laborum consectetur id, inventore harum velit non repellendus sint eaque impedit! Suscipit maiores veniam similique?
		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/main.js")