extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about sert"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-about.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
						img(src="images/hero-sertificates.jpg" alt="О компании")
			//- section sertificates grid
			section.text-section
				div.text-section__inner
					div.text-box.text-section__item
						h1 Сертификаты
					ul.sertificates.text-section__item
						li.sertificates__item
							//- call solo gallery view
							article.item-card.item-card--sertificate 
								figure.item-card__figure
									picture 
										img(src="images/sf-1.jpg" alt="")
								div.item-card__content
									h3.item-card__cap Свидетельство СРО ООО «Проектно-производственной фирмы «А.Лен»
								a(href="project.html").item-card__overlink
						li.sertificates__item
							article.item-card.item-card--sertificate 
								figure.item-card__figure
									picture 
										img(src="images/sf-2.jpg" alt="")
								div.item-card__content
									h3.item-card__cap Приложение к свидетельству СРО ООО «Проектно-производственной фирмы «А.Лен»
								a(href="project.html").item-card__overlink
						li.sertificates__item
							article.item-card.item-card--sertificate 
								figure.item-card__figure
									picture 
										img(src="images/sf-3.jpg" alt="")
								div.item-card__content
									h3.item-card__cap Выписка СРО ООО «Проектно-производственной фирмы «А.Лен»
								a(href="project.html").item-card__overlink
					div.text-box.text-box--short.text-section__item
						p Имеется допуск на подготовку проектной документации в отношении особо опасных, технически сложных и уникальных объектов капитального строительства.
					ul.sertificates.text-section__item
						li.sertificates__item
							article.item-card.item-card--sertificate 
								figure.item-card__figure
									picture 
										img(src="images/sf-4.jpg" alt="")
								div.item-card__content
									h3.item-card__cap Свидетельство СРО ООО «Архитектурное бюро «А.Лен»
								a(href="project.html").item-card__overlink
						li.sertificates__item
							article.item-card.item-card--sertificate 
								figure.item-card__figure
									picture 
										img(src="images/sf-5.jpg" alt="")
								div.item-card__content
									h3.item-card__cap Приложение к свидетельству СРО ООО «Архитектурное бюро «А.Лен»
								a(href="project.html").item-card__overlink
						li.sertificates__item
							article.item-card.item-card--sertificate 
								figure.item-card__figure
									picture 
										img(src="images/sf-6.jpg" alt="")
								div.item-card__content
									h3.item-card__cap Выписка СРО ООО «Архитектурное бюро «А.Лен»
								a(href="project.html").item-card__overlink
		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug