extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about awards"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 About awards

			//- hero banner just image

			//- section text 

			//- section awards list 

		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug