extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about oreshkin"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-about.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
						img(src="images/hero-oreshkin.jpg" alt="О компании")
			//- section text 
			section.text-section
				div.text-section__inner
					div.text-box.text-section__item
						h1 Сергей Иванович Орешкин
						ul 
							li Заслуженный архитектор Российской Федерации
							li Лауреат Премии Правительства Санкт-Петербурга в области архитектуры за 2017 г.
							li Лауреат Премии Правительства Республики Мордовия в области архитектуры за 2018 г.
							li Член Градостроительного совета при Правительстве Санкт-Петербурга
							li Лауреат Премии Владимира Татлина. Награжден медалью Союза архитекторов России «За высокое зодческое мастерство» имени В.И. Баженова
							li Академик #[a(href="") Международной Академии Архитектуры] IAAМ-MAAM
							li Вице-президент по PR  Санкт-Петербургского союза архитекторов
							li Председатель Комитета по урбанистике, градостроительству и архитектуре Российской гильдии управляющих и девелоперов с 2015 года
							li Член Коллегии Гильдии архитекторов и инженеров Петербурга (ГАИП)
							li Основатель и руководитель Архитектурного бюро «А.Лен»
					div.social-box.text-section__item
						h2 Социальные сети
						div
							a(href="" data-social-item="pinterest").social-box__item
								span(title="pinterest")
								span Личный профиль С.И. Орешкина 
							a(href="" data-social-item="pinterest").social-box__item
								span(title="pinterest")
								span Личный профиль С.И. Орешкина 
						div
							a(href="" data-social-item="behance").social-box__item
								span(title="behance")
								span Личный профиль С.И. Орешкина 
							a(href="" data-social-item="behance").social-box__item
								span(title="behance")
								span Личный профиль С.И. Орешкина 
						div
							a(href="" data-social-item="instagram").social-box__item
								span(title="instagram") 
								span Аккаунт С.И. Орешкина об искусстве
							a(href="" data-social-item="vkontakte").social-box__item
								span(title="vkontakte")
								span Личный профиль С.И. Орешкина
		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug