extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about oreshkin"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 About oreshkin

			//- hero banner just image

			//- section text 

			//- section socials

		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug