extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about career"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-about.pug
		main.page__main
			//- hero banner just image
			section.hero.hero--nogradient
				figure.hero__figure
					picture
						img(src="images/hero-career.jpg" alt="О компании")
			//- section text
			section.text-section
				div.text-section__inner
					div.text-box.text-section__item.scroll-anim.fade-up
						h1 Карьера
						h4 За годы работы наша компания приобрела весомый опыт и – особо ценное – доверие заказчиков, поручающих специалистам Архитектурного бюро «А.Лен» разработку и ведение проектов высокой сложности.
						p Добившись устойчивого положения в области архитектурного проектирования, мы идем в ногу со временем, не останавливаемся на достигнутом и постоянно совершенствуемся. На этом пути мы открыты для сотрудничества как со специалистами высокой квалификации, так и с целеустремленными выпускниками ВУЗов.
						p Если Вы настроены на результат, обладаете желанием работать творчески и упорно, мы будем рады принять Вас в команду «А.Лен».
						h4.no-mt Для рассмотрения Вашей кандидатуры предлагаем отправить резюме с указанием названия вакансии:
						div.resume-contact-box
							div
								p По e-mail: #[br] #[b office@a-len.ru]
							div
								p Или позвонить: #[br] #[b +7 (812) 579-55-81]
							div
								p Вы можете воспользоваться бланком для заполнения резюме
								a.pill-btn(href="blanc.doc" download) Скачать бланк
						p Если Вы хотите работать в Архитектурном бюро «А.Лен», но не нашли подходящей вакансии, можете выслать свое резюме с указанием интересующего направления, диапазона Ваших знаний и профессионального опыта. Все резюме вносятся в базу данных отдела персонала и рассматриваются при появлении соответствующей вакансии.
			section.vacancies
				div.vacancies__inner.scroll-anim.fade-up
					h2.vacancies__title В настоящее время в компании открыты следующие вакансии:
					ul.vacancies__list.scroll-anim.fade-up
						li.vacancies__item
							article.vacancy.is-active
								header.vacancy__head
									h3 Ведущий инженер ВК
									button(type="button")
								div.vacancy__body
									div.vacancy__item
										p #[b Опыт:] 1-3 года
									div.vacancy__item
										p
											b Обязанности:
										ul
											li На основании дизайн-проекта сделанного немецким архитектором разрабатывать рабочую документацию по российским нормам и фактическому состоянию объекта строительства, производить фактические замеры на объекте;
											li Разработка архитектурных чертежей стадии Э, П, Р;
											li Производить расчет материалов, необходимых для строительства;

											li Регулярно выезжать на объект строительства для осуществления авторского надзора;
											li Разработка разделов генплана;
											li Общение с немецким архитектором для координации работ.
									div.vacancy__item
										p
											b Требования:
										ul
											li Профильное высшее образование;
											li Профессиональное владение программами проектирования и визуализации AutoCad, Archicad/Revit обязательно;
											li Adobe Photoshop, умение от руки рисовать эскизы, желательно;
											li Знание смежных областей проектирования: водоснабжение, канализация, отопление, вентиляция, электрика, слаботочные системы;
											li Понимание принципов расчета нагрузок на основные конструкции в здании;
									div.vacancy__item
										p
											b Условия:
										ul
											li Официальное трудоустройство согласно ТК РФ, испытательный срок 3 месяца;
											li Пятидневная рабочая неделя 8:30-17:30;
											li Компенсация сотовой связи, ГСМ.
									div.vacancy__item.vacancy__item--row
										div.vacancy__subitem
											p
												b Контактная информация:
											p
												a(href="+79217440732") +7 (921) 744-07-32
												a(href="iia@a-len.ru") iia@a-len.ru
										div.vacancy__subitem
											p
												b Адрес:
											p Санкт-Петербург, ул. Короленко, д. 7
									a(href="" data-modal-id="career").js-popup.pill-btn Откликнуться
						li.vacancies__item
							article.vacancy
								header.vacancy__head
									h3 Бухгалтер по расчету заработной платы
									button(type="button")
								div.vacancy__body
									div.vacancy__item
										p 
											b lorem
										p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, beatae. Fuga, fugit vel. Consequuntur quibusdam minima reiciendis minus amet eius deleniti. Nesciunt culpa eligendi quasi aspernatur placeat qui et veritatis.
									a(href="" data-modal-id="career").js-popup.pill-btn Откликнуться


		div.page__popup
			include ../../blocks/modules/popup/popup.pug
			//- пока заготовка, попапы надо продумать покрепче
			
		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/main.js")