extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about awards"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
			//- section text 
			section.text-section
				div.text-section__inner
					div.text-box
						h1 Награды
						p Начав свою деятельность в 1991 году, когда Санкт-Петербург еще был Ленинградом, Архитектурное бюро «А.Лен» своими работами последовательно создает себе репутацию лидирующего проектировщика в наиболее активных направлениях строительства. В разные годы это могли быть коттеджи и коттеджные поселки, автоцентры, гостиницы и отели, жилые комплексы. Подтверждение тому – коллекция наград международных и национальных архитектурных конкурсов и премий, включая государственные награды.
					div.numbers-block
						div.numbers-block__item
							b.numbers-block__value 130+
							span.numbers-block__description призовых мест в архитектурных конкурсах
						div.numbers-block__item
							b.numbers-block__value 34
							span.numbers-block__description достижения в сфере жилищного строительства
						div.numbers-block__item
							b.numbers-block__value 2
							span.numbers-block__description премии правительств субъектов федерации
			//- section awards list 
			section.awards-section
				ul.awards-section__inner
					li.awards-section__item
						article.award-card
							a(href).award-card__pic
								picture
							div.award-card__content
								b.award-card__cap 
								b.award-card__head 
								div.award-card__text
		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug