extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about history"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
			//- section flow widecards
			section.history-cards
				ul.history-cards__inner
					li.history-cards__item
						article.history-card
							header.history-card__head
								h2.history-card__date-main Первые 10 лет
								h3 1991-1995
								p первый в России дилерский центр «Volkswagen» во Всеволожске, Ленинградская область
								h3 1993-2000
								p один из первых крупных коттеджных поселков в Санкт-Петербурге «Русская деревня» в посёлке Юкки
							div.history-card__content
								h3 И вновь история от первого лица:
								i «Первый офис мы открыли в здании института «Курортпроект», а через три года купили свой офис на Захарьевской улице, 14, где в те годы занимались в основном небольшими проектами: коттеджами и коттеджными поселками, торговыми павильонами, АЗС, автосервисом и реконструкциями.
								i Постепенно проекты становились крупнее и к 1995 году мы стали основным проектировщиком элитной и коммерческой застройки во Всеволожском районе Ленинградской области
								i Из больших проектов 1990-х выделяются такие знаковые для Санкт-Петербурга объекты, как реконструкция Гостиного двора на Невском проспекте, реконструкция головного офиса «Альфа-банка» на набережной канала Грибоедова около Русского музея на углу с Итальянской улицей.»
		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug