extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len about awards"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-about.pug
		main.page__main
			//- hero banner just image
			section.hero.hero--nogradient
				figure.hero__figure
					picture
						img(src="images/hero-award.jpg" alt="О компании")
			//- section text 
			section.text-section
				div.text-section__inner
					div.text-box.text-section__item
						h1 Награды
						p Начав свою деятельность в 1991 году, когда Санкт-Петербург еще был Ленинградом, Архитектурное бюро «А.Лен» своими работами последовательно создает себе репутацию лидирующего проектировщика в наиболее активных направлениях строительства. В разные годы это могли быть коттеджи и коттеджные поселки, автоцентры, гостиницы и отели, жилые комплексы. Подтверждение тому – коллекция наград международных и национальных архитектурных конкурсов и премий, включая государственные награды.
					div.numbers-box.numbers-box--awards.text-section__item
						dl
							dt 130+
							dd призовых мест в архитектурных конкурсах
						dl
							dt 34
							dd достижения в сфере жилищного строительства
						dl
							dt 2
							dd премии правительств субъектов федерации
			//- section awards list 
			section.awards-section
				div.awards-section__inner
					h2.awards-section__title Основные награды
					div.awards-section__item
						article.award-card
							a.award-card__picture(href="award")
								picture
									img(src="images/award-1.jpg" alt="")
							b.award-card__cap 2018
							h3.award-card__head Золотой диплом IX Российской национальной премии по ландшафтной архитектуре
							div.award-card__text проект  #[a «Парковая линия».] Благоустройство набережной на намывной территории» в Екатеринбурге»»
					div.awards-section__item
						article.award-card
							a.award-card__picture(href="award")
								picture
									img(src="images/award-2.jpg" alt="")
							b.award-card__cap 2018
							h3.award-card__head Золотой диплом IX Российской национальной премии по ландшафтной архитектуре
							div.award-card__text проект  #[a «Парковая линия».] Благоустройство набережной на намывной территории» в Екатеринбурге»»
					div.awards-section__item
						article.award-card
							a.award-card__picture(href="award")
								picture
									img(src="images/award-3.jpg" alt="")
							b.award-card__cap 2018
							h3.award-card__head Золотой диплом IX Российской национальной премии по ландшафтной архитектуре
							div.award-card__text проект  #[a «Парковая линия».] Благоустройство набережной на намывной территории» в Екатеринбурге»»
					div.awards-section__item
						article.award-card
							a.award-card__picture(href="award")
								picture
									img(src="images/award-4.jpg" alt="")
							b.award-card__cap 2018
							h3.award-card__head Золотой диплом IX Российской национальной премии по ландшафтной архитектуре
							div.award-card__text проект  #[a «Парковая линия».] Благоустройство набережной на намывной территории» в Екатеринбурге»»
		div.page__popup
			include ../../blocks/modules/popup/popup.pug

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/main.js")