extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Allhomes"

block content
	div.page
		div.page__header
			include ../../blocks/modules/allhomes/header/header.pug
		main.page__main
			include ../../blocks/modules/allhomes/hero-slider.pug
			include ../../blocks/modules/allhomes/index-about.pug
			include ../../blocks/modules/allhomes/index-recommend.pug
			section.grid-section(style="--mt: 0px; --mb: 138px;")
				div.grid-container
					div.grid-regular-box
						div.text-box 
							p Компания «A.Лен» является заметным игроком на рынке продаж готовых проектов домов. В результате кропотливого отбора мы рады предложить вам лучшее. Наш каталог включает в себя 1072 различных проектов. в нем есть не только дома, но и коттеджи, бани, гаражи, таунхаусы. Современные архитектурные и планировочные решения, комфорт проживания, отсутствие избыточных конструктивных решений и разумная экономия строительства – безусловные приоритеты в наших проектах.
			include ../../blocks/modules/allhomes/index-gallery-p.pug
			include ../../blocks/modules/allhomes/index-ready.pug
		div.page__popup
			include ../../blocks/modules/allhomes/popup.pug
		div.page__footer
			include ../../blocks/modules/allhomes/footer.pug
block scripts
	script(src="js/swiper-bundle.min.js")
	script(src="js/allhomes.js")