extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "AH project"

block content
	div.page
		div.page__header
			include ../../blocks/modules/allhomes/header/header.pug
		main.page__main
			include ../../blocks/modules/allhomes/hero-slider-project.pug
			include ../../blocks/modules/allhomes/project-order-block.pug
			include ../../blocks/modules/allhomes/project-parameters.pug
			
			section.project-description.grid-section(style="--mt: 80px; --mb: 92px;")
				div.grid-container
					div.grid-regular-box.text-box
						p Небольшой загородный дом выполнен из ячеистого бетона и предназначен для постоянного проживания семьи из 4-6 человек. Сдержанные тона в отделке дома вызывают спокойствие и умиротоворение. Планировка дома простая, но функцилнальная и удобная для проживания круглый год. Дом светлый, теплый и комфортный, наличие камина усиливает эффект домашнего уюта.
			include ../../blocks/modules/allhomes/index-gallery-p.pug
			include ../../blocks/modules/allhomes/index-ready.pug
			include ../../blocks/modules/allhomes/comments.pug
			section.grid-section
				div.grid-container
					div.socials-share
						a(href="" data-share-ico="link").socials-share__link
							span.visually-hidden Скопировать ссылку
						a(href="" data-share-ico="vk").socials-share__link
							span.visually-hidden Вконтакте
						a(href="" data-share-ico="inst").socials-share__link
							span.visually-hidden Инстаграм

		div.page__popup
			include ../../blocks/modules/allhomes/popup.pug
		div.page__footer
			include ../../blocks/modules/allhomes/footer.pug
			
block scripts
	script(src="js/swiper-bundle.min.js")
	script(src="js/allhomes.js")