extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len contacts"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			//- page bar
			section.page-bar
				h1.page-bar__title Контакты

			//- section map
			section.contacts-map
				div.contacts-map__inner
					//- сюда вставлять карту
					div.map
						img(src="images/map-thumb.jpg")
					div.contacts-map__content
						div.contacts-map__item
							span.contacts-map__label Телефон
							div.contacts-map__value
								a(href="tel:+78125795581") +7 (812) 579-55-81
						div.contacts-map__item
							span.contacts-map__label Адрес офиса:
							div.contacts-map__value
								<span itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
									| Россия,
									<span itemprop="postalCode"> 191014</span>,
									<span itemprop="addressLocality">Санкт-Петербург</span>,
									<br>
									<span itemprop="streetAddress">ул. Короленко, д. 7</span>
								</span>
						div.contacts-map__item
							span.contacts-map__label Электронная почта:
							div.contacts-map__value
								<a href="mailto:office@a-len.ru">office@a-len.ru</a>
						div.contacts-map__item
							span.contacts-map__label Skype:
							div.contacts-map__value
								<a href="skype:ppf.alen?call">ppf.alen</a>
						div.contacts-map__item
							span.contacts-map__label Департамент по работе с заказчиками:
							div.contacts-map__value
								<a href="mailto:jiltsov@a-len.ru">jiltsov@a-len.ru</a>
			//- section connect
			section.connect 
				div.connect__inner
					div.connect__content
						header.connect__header
							div.connect__header-top
								h2.connect__title Задайте вопрос «А.Лен». Найдем ответы!
								div.connect__text
									| Напишите нам Ваш запрос – мы дадим обратную связь.
									<span class="noWrap">Или позвоните</span>
									| к нам в офис.
						form(id="contacts_form").form.connect__form
							div.form__box.form__inputbox
								label(for="name1").form__label Имя#[span *]
								<input type="text" name="name" id="name1" required="">
							
							div.form__box.form__inputbox
								label(for="mail1").form__label E-mail#[span *]
								<input type="text" name="mail" id="mail1" required="">
							
							div.form__box.form__inputbox
								label(for="theme1").form__label Тема
								<input type="text" name="theme" id="theme1">
							
							div.form__box.form__textarea
								label(for="comment1").form__label Вопрос или комментарий#[span *]
								textarea(type="text" name="comment" id="comment1" required="")
							div.form__checkbox.form__box
								<input required="" name="pp" id="pp1" type="checkbox"> 
								<label for="pp1">
									| Даю согласие на обработку персональных данных в соответствии с <a href="/privacy_policy/">политикой конфиденциальности</a>
								</label>
							button(type="submit").pill-btn.connect__submit Отправить

						footer.connect__footer
							h3.connect__footer-cap Ищете работу или стажировку?
							div.connect__text Посмотрите наши вакансии.
							a(href="/about/career/#career").pill-btn Вакансии «А.Лен»
		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug