extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len contacts"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 contacts

			//- page left title

			//- section map

			//- section connect


		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug