extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len geo"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-solid.pug
		main.page__main
			//- page bar title
			section.page-bar
				h1.page-bar__title География строительства
				a.page-bar__link.pill-btn(href="projects.html") Назад
			//- section geo map
			section.section-map.section-map--geography
				div.section-map__inner
					//- сюда вставлять карту
					div.map
						img(src="images/geo-thumb.png")

		div.page__popup
			include ../../blocks/modules/popup/popup.pug

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/index.js")