extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len geo"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 geo

			//- page bar title

			//- section geo map


		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug