extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len Lab brickwork"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-lab.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
						img(src="images/hero-brickwork.jpg" alt="")
			//- section text
			section.text-section
				div.text-section__inner
					div.text-box
						h1 A.Len Brickwork
						p За последние десять лет мы собрали обширную базу и контакты производителей архитектурных материалов и систем. Со многими мы находимся в партнерских и дружеских отношениях. Особое место последние годы в нашей работе занимают кирпичные фасады. Причин для этого много: это и ностальгия по качественным фасадам, и практичность, и усталость от обилия зданий с вентилируемыми фасадами.
						p В этой программе, как и в других наших исследованиях, мы опираемся на научный сбор данных, анализ и истории материаловедения и современные свежие находки из мировой практики работы с кирпичом и клинкером.
						
						//- iframe становится прямо сюда

			//- goback
			div.page__goback
				a(href="projects-list.html").pill-btn.page__goback-btn Назад

		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/main.js")