extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len Lab apartments"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-lab.pug
		main.page__main
			//- hero banner just image
			section.hero.hero--nogradient.hero--lab.hero--contain
				figure.hero__figure
					picture
						img(src="images/hero-apartment.jpg" alt="")
			//- section text
			section.text-section.text-section--lab
				div.text-section__inner
					div.text-box.text-box--top-shift.text-section__item.scroll-anim.fade-up
						h1
							div «Идеальные квартиры «А.Лен» и
							div «Идеальные апартаменты «А.Лен»
							br
						h4 Установите эталон квартир с самого начала проекта!
						a.pill-btn.js-popup(href="" data-modal-id="brochure") Заказать брошюру о программе «Идеальные квартиры «А.Лен»
						h4 Что это
						p База знаний о квартирографии, накопленная Архитектурной лабораторией «А.Лен» с 1991 года.
						h4 Для кого и зачем
						p Девелоперам и застройщикам «Идеальные квартиры «А.Лен» обеспечивают наглядный и эффективный инструмент продаж квартир и апартаментов. Покупателям квартир в качестве пособия по выбору правильной планировки.
						h4 Это достигается
						ul
							li Отбором по нужным параметрам набора планировок квартир из базы более 10 000 вариантов в четырех классах и четырех конструктивных шагах;
							li Огромным опытом исследований массового строительства в период советского времени, а также изучением мировых и российских современных практик;
							li Отбором квартир по лучшим видовым характеристикам участка строительства;
							li Применением лучших пропорций помещений;
							li Применением экспериментальных авторских планировок, которых нет у конкурентов;
							li Ориентацией на разработки лучших дизайнеров интерьеров;
							li Исследованиями эргономики квартир на основе параметров массовых мебельных производств;
							li Учетом параметров инженерных элементов конкретных производителей (вентблоков, приборов учета, инженерных коммуникаций);
							li Понятностью инструмента для отделов продаж;
							li Наглядностью для покупателей квартир.
						h4 Результатом становятся
						ul
							li Сверхбыстрое формирование и утверждение у застройщика схем поэтажных планов;
							li Минимум «непродаваемых» квартир в доме (стремимся к нулевому уровню);
							li Не нужно корректировать квартирографию: экономия времени для застройщика, меньше нестыковок разделов;
							li Готовая детализованная графика для «архитектурного маркетинга»;
							li Дополнительные конкурентные преимущества для жилого комплекса: трансформеры, удобство эксплуатации, экономичность строительства;
							li Сохранение идеи жилого комплекса от концепции до постройки;
							li Как результат, высокая финансовая экономия для застройщика.
			section.text-section
				div.text-section__inner.scroll-anim.fade-up
					div.doc-box.text-section__item
						a(href="sertificate").doc-box__pic
							picture
								img(src="images/doc-apartments.jpg" alt="свидетельство")
						div.doc-box__description
							b.doc-box__cap "Идеальные квартиры" - зарегистрированная разработка "А.Лен"
							p.doc-box__txt Свидетельство Федеральной службы по интеллектуальной собственности (Роспатент) №2018670024 от 31.10.2018 г.
					div.biglist-box.text-section__item.scroll-anim.fade-up
						div.biglist-box__title Как это работает
						dl.biglist-box__item
							dt 01
							dd Получаем общие представления о классе застройки от девелопера в виде документа под названием «Квартирография». Выдаем экспертный анализ представленного документа с рекомендациями на основе нашего маркетингового исследования предложений конкурентов в локации объекта.
						dl.biglist-box__item
							dt 02
							dd Производим первичный широкий отбор из запатентованной базы данных «Идеальные квартиры «А.Лен». Дополняем теми типами квартир, которых нет у конкурентов. Предлагаем эксклюзивную линейку квартир для данного комплекса.
						dl.biglist-box__item
							dt 03
							dd После утверждения первичного отбора квартир, конструктивного шага (программа включает в себя модули перекрытий 6.05, 6.65, 7.05, 7.85 м) и объемной модели здания разрабатываем первичные планировки.

			section.items-section
				div.items-section__inner.scroll-anim.fade-up
					h2.items-section__title Программа применена в объектах
					div.items-section__content
						div.items-slider.swiper-container
							div.items-slider__wrapper.swiper-wrapper
								div.items-slider__slide.swiper-slide
									article.item-card
										figure.item-card__figure
											picture
												img(src="images/service-1.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 1
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card 
										figure.item-card__figure
											picture 
												img(src="images/service-2.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 2
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card
										figure.item-card__figure
											picture
												img(src="images/service-3.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 3
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card 
										figure.item-card__figure
											picture 
												img(src="images/service-4.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 4
										a(href="project.html").item-card__overlink
						div.items-slider__navigation.slider-pagination.swiper-pagination
			//- goback
			div.page__goback.scroll-anim.fade-up
				a(href="projects-list.html").pill-btn.page__goback-btn Назад

		div.page__popup
			include ../../blocks/modules/popup/popup.pug
			
			
		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/swiper-bundle.min.js")
	script(src="js/index.js")