extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len Lab colors"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
			//- section text
			section.text-section
				div.text-section__inner
					div.text-box
						h1 Цветовая лаборатория «А.Лен»
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, rerum rem inventore sequi corrupti dolores atque quae laboriosam qui! Placeat, rerum? Nostrum obcaecati sed unde sit a? Reiciendis, quae inventore!
			//- section gallery

			//- section slider tiles
			section.items-slider-section
				div.items-slider-section__inner
					h2.items-slider-section__title Программа применена в объектах
					div.items-slider
						div.items-slider__wrapper
							div.items-slider__slide
								article.item-card 
									figure.item-card__figure
										picture 
									div.item-card__content
										h3.item-card__cap Мышь (кродется)
									a(href="project.html").item-card__overlink
							div.items-slider__slide
								article.item-card 
									figure.item-card__figure
										picture 
									div.item-card__content
										h3.item-card__cap Мышь (кродется)
									a(href="project.html").item-card__overlink
						div.items-slider__navigation
			//- goback
			div.page__goback
				a(href="projects-list.html").pill-btn.page__goback-btn Назад


		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug