extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len Lab info"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-lab.pug
		main.page__main
			//- hero banner just image
			section.hero.hero--nogradient.hero--lab.hero--contain
				figure.hero__figure
					picture
						img(src="images/hero-info.jpg" alt="")
			//- section text
			section.text-section
				div.text-section__inner
					div.text-box.text-box--top-shift.scroll-anim.fade-up
						h1 Маркетинговая инфографика «А.Лен»
						p Маркетинговая инфографика является неотъемлемой частью многих наших проектов.
						p Что это такое? Даже искушенным в архитектурных методах застройщикам и девелоперам сложно объяснить тот сложный алгоритм, по которому мы разрабатываем проект. Для этого мы обращаем внимание зрителя на особо важные этапы и элементы работы, используя собственные графические разработки – маркетинговые символы и указатели, авторские изображения антуража и людей, стилизации под графические работы знаменитых художников-графиков.
			section.items-section
				div.items-section__inner.scroll-anim.fade-up
					h2.items-section__title Программа применена в объектах
					div.items-section__content
						div.items-slider.swiper-container
							div.items-slider__wrapper.swiper-wrapper
								div.items-slider__slide.swiper-slide
									article.item-card
										figure.item-card__figure
											picture
												img(src="images/service-1.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 1
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card 
										figure.item-card__figure
											picture 
												img(src="images/service-2.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 2
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card
										figure.item-card__figure
											picture
												img(src="images/service-3.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 3
										a(href="project.html").item-card__overlink
								//- div.items-slider__slide.swiper-slide
									article.item-card 
										figure.item-card__figure
											picture 
												img(src="images/service-4.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 4
										a(href="project.html").item-card__overlink
								//- div.items-slider__slide.swiper-slide
									article.item-card 
										figure.item-card__figure
											picture 
												img(src="images/service-4.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 4
										a(href="project.html").item-card__overlink
						div.items-slider__navigation.slider-pagination.swiper-pagination
			//- goback
			div.page__goback.scroll-anim.fade-up
				a(href="projects-list.html").pill-btn.page__goback-btn Назад


		div.page__popup
			include ../../blocks/modules/popup/popup.pug

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/swiper-bundle.min.js")
	script(src="js/index.js")