extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len Lab toolkit"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-lab.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
						img(src="images/hero-toolkit.jpg" alt="")

			//- section text
			section.text-section
				div.text-section__inner
					div.text-box
						h1 A.Len Architectural Toolkit
						p Программа меняет порядок взаимодействия архитектора и заказчика, оставляя широкий простор для творчества.
						p «Архитектурный тулкит» – это набор инструментов для служб заказчика и архитекторов в виде таблицы архитектурных и ландшафтных элементов на стадиях «Эскизный проект» и «Проектная документация». Это свод всех архитектурных и технических элементов, утверждаемых к проекту на начальной стадии работы.
						p Программа является основой расчета стоимости строительства на ранних стадиях проектирования. Она же представляет собой базу для интегрирования архитектурных элементов в BIM-модель здания.
						p Основой программы является архив Архитектурного бюро «А.Лен» в части технических и экономических параметров и решений отечественных и зарубежных производителей.
			section.text-section
				div.text-section__inner
					div.biglist-box.text-section__item
						div.biglist-box__title Как это работает
						dl.biglist-box__item
							dt 01
							dd Определяем объемно-планировочные параметры объекта.
						dl.biglist-box__item
							dt 02
							dd Производим анализ экономики всех элементов фасадов, отделки и ландшафта на основе предложений производителей и поставщиков.
						dl.biglist-box__item
							dt 03
							dd Утверждаем набор элементов в табличной форме с ценовыми параметрами.
						dl.biglist-box__item
							dt 04
							dd Производим расчет предварительной стоимости всех архитектурных элементов. Преимущество – в дальнейшем не приходится, как это часто бывает, «оптимизировать» фасад из-за перерасхода бюджета.
						dl.biglist-box__item
							dt 05
							dd После утверждения предварительной стоимости архитектурных элементов приступаем к формированию нескольких вариантов фасадов. Делаем необходимые корректировки и выбираем финишный вариант.
						dl.biglist-box__item
							dt 06
							dd Сдаем проект клиенту c подробным бюджетом всех архитектурных элементов.

			section.items-section
				div.items-section__inner
					h2.items-section__title Программа применена в объектах
					div.items-section__content
						div.items-slider
							div.items-slider__slide
								article.item-card 
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture 
											img(src="images/item-1.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Мышь (кродется)
							div.items-slider__slide
								article.item-card 
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture 
											img(src="images/item-2.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Мышь (кродется)
						div.items-slider__navigation
			//- goback
			div.page__goback
				a(href="projects-list.html").pill-btn.page__goback-btn Назад


		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/swiper-bundle.min.js")
	script(src="js/main.js")