extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len Lab info"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 Lab infographic

			//- hero banner just image

			//- section text

			//- section gallery

			//- section slider tiles

			//- goback


		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug