extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len Lab colors"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-lab.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
						img(src="images/hero-colors.jpg" alt="")
			//- section text
			section.text-section
				div.text-section__inner
					div.text-box.text-section__item
						h1 Цветовая лаборатория «А.Лен»
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, rerum rem inventore sequi corrupti dolores atque quae laboriosam qui! Placeat, rerum? Nostrum obcaecati sed unde sit a? Reiciendis, quae inventore!
			section.text-section
				div.text-section__inner
					div.biglist-box.text-section__item
						div.biglist-box__title Как это работает
						dl.biglist-box__item
							dt 01
							dd Определяем объемно-планировочные параметры объекта. Разрабатываем брендинг проекта от предложений по дизайну рекламной продукции до утверждения названия объекта.
						dl.biglist-box__item
							dt 02
							dd Производим анализ цветовой гаммы объектов в окружении участка застройки.
						dl.biglist-box__item
							dt 03
							dd Утверждаем дизайн-код фасадов.
						dl.biglist-box__item
							dt 04
							dd Соединяем дизайн-код фасадов, брендинг проекта и утвержденную цветовую гамму на основе научно-апробированных палитр.
						dl.biglist-box__item
							dt 05
							dd Приступаем к шлифовке цветового решения фасадов с учетом дизайн-кода и брендинга комплекса.
						dl.biglist-box__item
							dt 06
							dd Сдаём проект клиенту.
			section.items-section
				div.items-section__inner
					h2.items-section__title Программа применена в объектах
					div.items-section__content
						div.items-slider.swiper-container
							div.items-slider__wrapper.swiper-wrapper
								div.items-slider__slide.swiper-slide
									article.item-card
										figure.item-card__figure
											picture
												img(src="images/service-1.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 1
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card 
										figure.item-card__figure
											picture 
												img(src="images/service-2.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 2
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card
										figure.item-card__figure
											picture
												img(src="images/service-3.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 3
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card 
										figure.item-card__figure
											picture 
												img(src="images/service-4.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 4
										a(href="project.html").item-card__overlink
						div.items-slider__navigation.slider-pagination.swiper-pagination
			//- goback
			div.page__goback
				a(href="projects-list.html").pill-btn.page__goback-btn Назад


		div.page__popup
			include ../../blocks/modules/popup/popup.pug

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/swiper-bundle.min.js")
	script(src="js/main.js")