extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len Lab toolkit"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-lab.pug
		main.page__main
			//- hero banner just image
			section.hero.hero--nogradient.hero--lab.hero--contain
				figure.hero__figure
					picture
						img(src="images/hero-toolkit.jpg" alt="")

			//- section text
			section.text-section
				div.text-section__inner
					div.text-box.text-box--top-shift.scroll-anim.fade-up
						h1 A.Len Architectural Toolkit
						p Программа меняет порядок взаимодействия архитектора и заказчика, оставляя широкий простор для творчества.
						p «Архитектурный тулкит» – это набор инструментов для служб заказчика и архитекторов в виде таблицы архитектурных и ландшафтных элементов на стадиях «Эскизный проект» и «Проектная документация». Это свод всех архитектурных и технических элементов, утверждаемых к проекту на начальной стадии работы.
						p Программа является основой расчета стоимости строительства на ранних стадиях проектирования. Она же представляет собой базу для интегрирования архитектурных элементов в BIM-модель здания.
						p Основой программы является архив Архитектурного бюро «А.Лен» в части технических и экономических параметров и решений отечественных и зарубежных производителей.
			section.text-section
				div.text-section__inner
					div.biglist-box.text-section__item.scroll-anim.fade-up
						div.biglist-box__title Как это работает
						dl.biglist-box__item
							dt 01
							dd Определяем объемно-планировочные параметры объекта.
						dl.biglist-box__item
							dt 02
							dd Производим анализ экономики всех элементов фасадов, отделки и ландшафта на основе предложений производителей и поставщиков.
						dl.biglist-box__item
							dt 03
							dd Утверждаем набор элементов в табличной форме с ценовыми параметрами.
						dl.biglist-box__item
							dt 04
							dd Производим расчет предварительной стоимости всех архитектурных элементов. Преимущество – в дальнейшем не приходится, как это часто бывает, «оптимизировать» фасад из-за перерасхода бюджета.
						dl.biglist-box__item
							dt 05
							dd После утверждения предварительной стоимости архитектурных элементов приступаем к формированию нескольких вариантов фасадов. Делаем необходимые корректировки и выбираем финишный вариант.
						dl.biglist-box__item
							dt 06
							dd Сдаем проект клиенту c подробным бюджетом всех архитектурных элементов.

			section.items-section
				div.items-section__inner.scroll-anim.fade-up
					h2.items-section__title Программа применена в объектах
					div.items-section__content
						div.items-slider.swiper-container
							div.items-slider__wrapper.swiper-wrapper
								div.items-slider__slide.swiper-slide
									article.item-card
										figure.item-card__figure
											picture
												img(src="images/service-1.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 1
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card 
										figure.item-card__figure
											picture 
												img(src="images/service-2.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 2
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card
										figure.item-card__figure
											picture
												img(src="images/service-3.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 3
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card 
										figure.item-card__figure
											picture 
												img(src="images/service-4.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 4
										a(href="project.html").item-card__overlink
						div.items-slider__navigation.slider-pagination.swiper-pagination
			//- goback
			div.page__goback.scroll-anim.fade-up
				a(href="projects-list.html").pill-btn.page__goback-btn Назад


		div.page__popup
			include ../../blocks/modules/popup/popup.pug

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/swiper-bundle.min.js")
	script(src="js/index.js")