extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len Lab info"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-submenu-lab.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
						img(src="images/hero-info.jpg" alt="")
			//- section text
			section.text-section
				div.text-section__inner
					div.text-box
						h1 Маркетинговая инфографика «А.Лен»
						p Маркетинговая инфографика является неотъемлемой частью многих наших проектов.
						p Что это такое? Даже искушенным в архитектурных методах застройщикам и девелоперам сложно объяснить тот сложный алгоритм, по которому мы разрабатываем проект. Для этого мы обращаем внимание зрителя на особо важные этапы и элементы работы, используя собственные графические разработки – маркетинговые символы и указатели, авторские изображения антуража и людей, стилизации под графические работы знаменитых художников-графиков.
			section.items-section
				div.items-section__inner
					h2.items-section__title Программа применена в объектах
					div.items-section__content
						div.items-slider
							div.items-slider__slide
								article.item-card 
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture 
											img(src="images/item-1.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Жилой комплекс «Бунин»
							div.items-slider__slide
								article.item-card 
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture 
											img(src="images/item-2.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Мультиформатный жилой комплекс «Golden City»
						div.items-slider__navigation
			//- goback
			div.page__goback
				a(href="projects-list.html").pill-btn.page__goback-btn Назад


		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/main.js")