extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len press"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 Press

			//- hero banner just image

			//- section press bar

			//- press list tiles


		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug