extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len press one"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			//- hero banner with info
			section.hero.hero--title
				figure.hero__figure 
					picture
						img(src="images/hero-press-one.jpg" alt="")
				div.hero__content
					div.hero__infobar
						div.hero__text-sup 11 июня 2019
						h2.hero__text-title Спорт и мир: обзор спортивных проектов «А.Лен»
			//- section text
			section.text-section
				div.text-section__inner
					div.text-box
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores delectus saepe inventore quam minus soluta laudantium blanditiis, ipsam quasi alias et dicta, illo ea facere ipsa ad suscipit repudiandae omnis.
			//- section gallery 
			section.gallery-preview
				div.gallery-preview__inner
					div.gallery-preview__content
						figure.gallery-preview__picture
							picture
								img(src="images/project-gallery-preview.jpg")
						button.gallery-preview__load.pill-btn(type="button") Фото и видео
			//- section actions bar
			section.actions-bar 
				div.actions-bar__inner
					a(href="back").pill-btn.actions-bar__goback Назад
					button(type="button").pill-btn.actions-bar__share Поделиться
					div.actions-bar__share-links
						a(href="fb" data-social-item="facebook").actions-bar__share-item
							span Facebook
						a(href="vk" data-social-item="vkontakte").actions-bar__share-item
							span Vkontakte
			//- section comments list
			sections.comments
				div.comments__inner
					h2.comments__title Комментарии
					ul.comments__list 
						li.comments__item
							article.comment-item
								b.comment-item__name Евгений Голяка:
								div.comment-item__date 15 сентября 2019
								div.comment-item__text Интересный обзор. Хорошо написано! 
								button.comment-item__reply.pill-btn(type="button") Ответить
								div.comment-item__replies
									div.comment-item__replies-cap Ответы
									div.comment-item__replies-item 
										article.comment-item
											b.comment-item__name Евгений Голяка:
											div.comment-item__date 15 сентября 2019
											div.comment-item__text ок
									div.comment-item__replies-item 
										article.comment-item
											b.comment-item__name Евгений Голяка:
											div.comment-item__date 16 сентября 2019
											div.comment-item__text я передумал
						li.comments__item
							article.comment-item
								b.comment-item__name Евгений Голяка:
								div.comment-item__date 15 сентября 2019
								div.comment-item__text Интересный обзор. Хорошо написано! 
								button.comment-item__reply.pill-btn(type="button") Ответить
				//- add comments
				div.comments__inner
					h2.comments__title Оставить комментарий
					form.comments__form.comments-form.form
						div.comments-form__text
							div.form__textarea.form__box
								label(for="").form__label Комментарий#[span *]
								textarea
						div.comments-form__name
							div.form__inputbox.form__box
								label(for="").form__label Имя#[span *]
								input(type="text")
						div.comments-form__email
							div.form__inputbox.form__box
								label(for="").form__label E-mail#[span *]
								input(type="text")
						div.comments-form__agree
							div.form__checkbox.form__box
								input(type="checkbox" required id="form-agree" name="form-agree")
								label(for="form-agree") Даю согласие на обработку персональных данных в соответствии с политикой конфиденциальности
						div.comments-form__remember
							div.form__checkbox.form__box
								input(type="checkbox" id="form-save" name="form-save") 
								label(for="form-save") Сохранить имя, адрес электронной почты, чтобы в следующий раз оставить комментарий
						div.comments-form__submit
							button.pill-btn(type="submit") Отправить

			//- section slider tiles - other news
			section.items-section 
				div.items-section__inner
					h2.items-section__title Другие новости
					div.items-section__content
						div.other-news
							div.other-news__wrapper
								div.other-news__slide
									article.item-card.item-card--press
										a.item-card__overlink(href="press-one.html")
										figure.item-card__figure
											picture
												img(src="images/press-3.jpg")
										div.item-card__content
											div.item-card__date 24 сентября 2019
											h3.item-card__title Архитектурные фавориты петербургских девелоперов
											//- max 4 rows
											div.item-card__description Петербургские девелоперы за последние десятилетия сформировали круг архитектурных
								div.other-news__slide
									article.item-card.item-card--press
										a.item-card__overlink(href="press-one.html")
										figure.item-card__figure
											picture 
												img(src="images/press-2.jpg")
										div.item-card__content
											div.item-card__date 24 сентября 2019
											h3.item-card__title Архитектурные фавориты петербургских девелоперов сформировали круг архитектурных фаворитов
											//- max 4 rows
											div.item-card__description Петербургская интернет-газета «Канонер» выяснила, как выбирают и за что ценят современных зодчих, а также попыталась рассмотреть темную ...
							div.other-news__nav
								button(type="button").other-news__arrow.other-news__prev ←
								button(type="button").other-news__arrow.other-news__next →
		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/swiper-bundle.min.js")
	script(src="js/main.js")