extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len press one"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 Press one

			//- hero banner with info

			//- section text

			//- section gallery 

			//- section actions bar

			//- section comments list

			//- section add comments

			//- section slider tiles - other news


		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug