extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len press"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
						img(src="images/hero-press.jpg" alt="")
			//- section press bar
			section.press-bar 
				div.press-bar__inner
					h2.press-bar__title Пресс-центр
					div.press-bar__socials
						span Присоединяйтесь к нам
						ul.press-socials 
							li.press-socials__item 
								a.press-socials__link(href="sss")
									span Facebook
							li.press-socials__item 
								a.press-socials__link(href="sss")
									span Vkontakte
							li.press-socials__item 
								a.press-socials__link(href="sss")
									span Instagram
							li.press-socials__item 
								a.press-socials__link(href="sss")
									span Pinterest
							li.press-socials__item 
								a.press-socials__link(href="sss")
									span Behance
			//- press list tiles
			section.press-items 
				ul.press-items__inner
					li.press-items__item
						article.item-card.item-card--press 
							figure.item-card__figure
								picture 
							div.item-card__content
								div.item-card__date 24 сентября 2019
								h3.item-card__title Архитектурные фавориты петербургских девелоперов
								//- max 4 rows
								div.item-card__description Петербургские девелоперы за последние десятилетия сформировали круг архитектурных фаворитов из числа проектных компаний. Петербургская интернет-газета «Канонер» выяснила, как выбирают и за что ценят современных зодчих, а также попыталась рассмотреть темную ...
							a(href="project.html").item-card__overlink
					li.press-items__item
						article.item-card.item-card--press 
							figure.item-card__figure
								picture 
							div.item-card__content
								div.item-card__date 24 сентября 2019
								h3.item-card__title Архитектурные фавориты петербургских девелоперов
								//- max 4 rows
								div.item-card__description Петербургские девелоперы за последние десятилетия сформировали круг архитектурных фаворитов из числа проектных компаний. Петербургская интернет-газета «Канонер» выяснила, как выбирают и за что ценят современных зодчих, а также попыталась рассмотреть темную ...
							a(href="project.html").item-card__overlink
					li.press-items__item
						article.item-card.item-card--press 
							figure.item-card__figure
								picture 
							div.item-card__content
								div.item-card__date 24 сентября 2019
								h3.item-card__title Архитектурные фавориты петербургских девелоперов
								//- max 4 rows
								div.item-card__description Петербургские девелоперы за последние десятилетия сформировали круг архитектурных фаворитов из числа проектных компаний. Петербургская интернет-газета «Канонер» выяснила, как выбирают и за что ценят современных зодчих, а также попыталась рассмотреть темную ...
							a(href="project.html").item-card__overlink
					li.press-items__item
						article.item-card.item-card--press 
							figure.item-card__figure
								picture 
							div.item-card__content
								div.item-card__date 24 сентября 2019
								h3.item-card__title Архитектурные фавориты петербургских девелоперов
								//- max 4 rows
								div.item-card__description Петербургские девелоперы за последние десятилетия сформировали круг архитектурных фаворитов из числа проектных компаний. Петербургская интернет-газета «Канонер» выяснила, как выбирают и за что ценят современных зодчих, а также попыталась рассмотреть темную ...
							a(href="project.html").item-card__overlink

		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug