extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len press"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			//- hero banner just image
			section.hero.hero--nogradient
				figure.hero__figure
					picture
						img(src="images/hero-press.jpg" alt="")
			//- section press bar
			section.press-bar 
				div.press-bar__inner
					h2.press-bar__title Пресс-центр
					div.press-bar__socials
						span Присоединяйтесь к нам
						ul.press-socials 
							li.press-socials__item 
								a.press-socials__link(href="sss" data-social-item="facebook")
									span Facebook
							li.press-socials__item 
								a.press-socials__link(href="sss" data-social-item="vkontakte")
									span Vkontakte
							li.press-socials__item 
								a.press-socials__link(href="sss" data-social-item="instagram")
									span Instagram
							li.press-socials__item 
								a.press-socials__link(href="sss" data-social-item="pinterest")
									span Pinterest
							li.press-socials__item 
								a.press-socials__link(href="sss" data-social-item="behance")
									span Behance
			//- press list tiles
			section.press-items 
				div.press-items__inner
					ul.press-items__list
						li.press-items__item
							article.item-card.item-card--press 
								a(href="press-one.html").item-card__overlink
								figure.item-card__figure
									picture
										img(src="images/press-1.jpg")
								div.item-card__content
									div.item-card__date 24 сентября 2019
									h3.item-card__title Архитектурные фавориты петербургских девелоперов
									//- max 4 rows
									div.item-card__description Петербургские девелоперы за последние десятилетия сформировали круг архитектурных фаворитов из числа проектных компаний. Петербургская интернет-газета «Канонер» выяснила, как выбирают и за что ценят современных зодчих, а также попыталась рассмотреть темную ...
						li.press-items__item
							article.item-card.item-card--press 
								a(href="press-one.html").item-card__overlink
								figure.item-card__figure
									picture 
										img(src="images/press-2.jpg")
								div.item-card__content
									div.item-card__date 24 сентября 2019
									h3.item-card__title Архитектурные фавориты петербургских девелоперов
									//- max 4 rows
									div.item-card__description Петербургские девелоперы за последние десятилетия сформировали круг архитектурных фаворитов из числа проектных компаний. Петербургская интернет-газета «Канонер» выяснила, как выбирают и за что ценят современных зодчих, а также попыталась рассмотреть темную ...
						li.press-items__item
							article.item-card.item-card--press 
								a(href="press-one.html").item-card__overlink
								figure.item-card__figure
									picture 
										img(src="images/press-3.jpg")
								div.item-card__content
									div.item-card__date 24 сентября 2019
									h3.item-card__title Архитектурные фавориты петербургских девелоперов
									//- max 4 rows
									div.item-card__description Петербургские девелоперы за последние десятилетия сформировали круг архитектурных фаворитов из числа проектных компаний. Петербургская интернет-газета «Канонер» выяснила, как выбирают и за что ценят современных зодчих, а также попыталась рассмотреть темную ...
						li.press-items__item
							article.item-card.item-card--press 
								a(href="press-one.html").item-card__overlink
								figure.item-card__figure
									picture 
										img(src="images/press-1.jpg")
								div.item-card__content
									div.item-card__date 24 сентября 2019
									h3.item-card__title Архитектурные фавориты петербургских девелоперов
									//- max 4 rows
									div.item-card__description Петербургские девелоперы за последние десятилетия сформировали круг архитектурных фаворитов из числа проектных компаний. Петербургская интернет-газета «Канонер» выяснила, как выбирают и за что ценят современных зодчих, а также попыталась рассмотреть темную ...
					
					nav.paginator
						<a class="paginator__item paginator__item--current">1</a>
						<a class="paginator__item" href="/press-center/?PAGEN_1=2">2</a>
						<a class="paginator__item" href="/press-center/?PAGEN_1=3">3</a>
						<a class="paginator__item" href="/press-center/?PAGEN_1=4">4</a>
						<a class="paginator__item" href="/press-center/?PAGEN_1=5">5</a>

		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug