extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len one project"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			//- section hero block width info and actions
			section.hero.hero--info
				figure.hero__figure
					picture
						img(src="images/hero-project.jpg" alt="")
				div.hero__content
					div.hero__infobar
						div.hero__text-sup Санкт-Петербург — 2011
						h2.hero__text-title Объекты инфраструктуры Пассажирского Порта Санкт-Петербург «Морской фасад»
					ul.hero__types 
						li.hero__type 
							a.hero__type-link.pill-btn.pill-btn--mist(href="projects-list.html") Жилые здания и комплексы
			//- section gallery
			section.gallery-preview
				div.gallery-preview__inner
					div.gallery-preview__content
						figure.gallery-preview__picture
							picture
								img(src="images/project-gallery-preview.jpg")
						button.gallery-preview__load.pill-btn(type="button") Фото и видео

			//- section-compose project
			section.compose
				div.compose__inner.scroll-anim.fade-up
					h2.compose__title Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptas id non doloremque, asperiores dolor
					div.compose__content
						div.compose__list.compose-slider.swiper-container
							div.compose__list-wrapper.swiper-wrapper 
								article.item-card.item-card--compose.swiper-slide
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture
											img(src="images/compose-1.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Морской вокзал №1 (круизный)
								article.item-card.item-card--compose.swiper-slide
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture 
											img(src="images/compose-2.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Морской вокзал №1 (круизный)
								article.item-card.item-card--compose.swiper-slide
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture 
											img(src="images/compose-3.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Морской вокзал №1 (круизный)
								article.item-card.item-card--compose.swiper-slide
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture
											img(src="images/compose-3.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Морской вокзал №1 (круизный)
								article.item-card.item-card--compose.swiper-slide
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture
											img(src="images/compose-2.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Морской вокзал №1 (круизный)
								article.item-card.item-card--compose.swiper-slide
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture
											img(src="images/compose-1.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Морской вокзал №1 (круизный)
								article.item-card.item-card--compose.swiper-slide
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture
											img(src="images/compose-1.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Морской вокзал №1 (круизный)
								article.item-card.item-card--compose.swiper-slide
									a(href="project.html").item-card__overlink
									figure.item-card__figure
										picture
											img(src="images/compose-1.jpg" alt="")
									div.item-card__content
										h3.item-card__cap Морской вокзал №1 (круизный)
							div.compose__navigation.swiper-pagination.slider-pagination

			//- section text
			section.text-section
				div.text-section__inner
					div.text-box.scroll-anim.fade-up
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo neque ex omnis at, dicta voluptatibus porro ipsam eos autem doloremque corrupti odio rerum voluptates libero earum commodi et ad cumque.
						p В проект нас пригласил воронежский девелопер Евгений Хамин и его компания ВДК, которая искала мастерскую, способную «перерисовать» архитектуру уже строящегося жилого комплекса. Девелопер в поиске свежих идей обращался к нескольким московским и петербургским бюро, нам посчастливилось познакомиться с этим энергичным человеком как раз в тот момент, когда у него сложилось представление о том, какую архитектуру он хотел бы видеть в своих проектах. И это представление удивительным образом легко легло на нашу концепцию «Идеальный дом / Идеальная квартира / Идеальный ландшафт».
						p Морской пассажирский терминал включает здания паромного и круизных вокзалов; надземные галереи, связывающие выходы из круизных судов со вторым этажом паромного терминала; центр управления портом (ЦУП); служебные здания пунктов пропуска
			//- section map
			section.project-map.scroll-anim.fade-up
				div.project-map__inner
					div.project-map__main
					article.project-map__info
						div.project-map__text Санкт-Петербург, территория Невской губы Финского залива, западнее Васильевского острова
						a.project-map__link.pill-btn(href="tomap") На карте
			//- section info
			section.info-section
				div.info-section__inner.scroll-anim.fade-up
					div.infoslider
						header.infoslider__head
							div.infoslider__tabs
								div(data-infoslider-tab="1").infoslider__tab Цифры и факты
								div(data-infoslider-tab="2").infoslider__tab.is-active Награды
								div(data-infoslider-tab="3").infoslider__tab Пресса
								div.infoslider__indicator
									div.infoslider__indicator-caret
						div.infoslider__body.swiper-container
							div.infoslider__body-wrapper.swiper-wrapper
								div(data-infoslider-tab="1").infoslider__item.swiper-slide
									ul.infoslider__content
										li.infoslider__option
											div.infoslider__option-key Площадь участка
											div.infoslider__option-value 29,39 Га
										li.infoslider__option
											div.infoslider__option-key Площадь участка
											div.infoslider__option-value 29,39 Га
										li.infoslider__option
											div.infoslider__option-key Площадь участка
											div.infoslider__option-value 29,39 Га
								div(data-infoslider-tab="2").infoslider__item.swiper-slide
									ul.infoslider__content
										li.infoslider__option
											div.infoslider__option-reward
												a(href="" data-gallery-call) Золотой диплом IX Российской национальной премии по ландшафтной архитектуре 2018
										li.infoslider__option
											div.infoslider__option-reward
												a(href="" data-gallery-call) Победитель премии «Развитие регионов. Лучшее в России»
										li.infoslider__option
											div.infoslider__option-reward
												a(href="" data-gallery-call) Победитель премии Move Realty Awards в номинации «Проект года бизнес-класса Санкт-Петербург» 2018
										li.infoslider__option
											div.infoslider__option-reward
												a(href="" data-gallery-call) Номинант Urban Awards 2016, 2017 в категории «Лучшая архитектурная концепция Санкт-Петербурга
								div(data-infoslider-tab="3").infoslider__item.swiper-slide
									ul.infoslider__content
										li.infoslider__option
											div.infoslider__option-key Общая площадь зданий
											div.infoslider__option-value 31 521 м2

			//- section tiles items
			section.items-section 
				div.items-section__inner.scroll-anim.fade-up
					//- just items
					ul.items-section__items.items-section__content
						li.items-section__item 
							article.item-card
								a(href="project.html").item-card__overlink
								figure.item-card__figure
									picture
										img(src="images/item-1.jpg" alt="")
								div.item-card__content
									h3.item-card__cap Морской вокзал №1 (круизный)
						li.items-section__item 
							article.item-card
								a(href="project.html").item-card__overlink
								figure.item-card__figure
									picture 
										img(src="images/item-2.jpg" alt="")
								div.item-card__content
									h3.item-card__cap Мышь (кродется)
			//- page goback
			div.page__goback
				a(href="projects-list.html").pill-btn.page__goback-btn Назад
		div.page__popup
			include ../../blocks/modules/popup/popup.pug

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/swiper-bundle.min.js")
	script(src="js/main.js")