extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len project category"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-solid.pug
		main.page__main
			//- page bar
			section.page-bar
				h1.page-bar__title Жилые здания и комплексы
				a.page-bar__link.pill-btn(href="geography.html") География строительства
			//- projects list on category - wide mosaic
			section.tiles.projects-section 
				ul.tiles__list 
					li.tiles__tile
						article.wide-card 
							figure.wide-card__pic
								picture
									img(src="" data-lazy-src="images/project-1.jpg")
							a.wide-card__link(href="project.html")
								span.wide-card__city Санкт-Петербург
								span.wide-card__link-txt Мультиформатный жилой комплекс «Golden City»
					li.tiles__tile
						article.wide-card 
							figure.wide-card__pic
								picture
									img(src="" data-lazy-src="images/project-2.jpg")
							a.wide-card__link(href="project.html")
								span.wide-card__city Москва
								span.wide-card__link-txt Жилой комплекс на Нагатинской набережной
					li.tiles__tile
						article.wide-card 
							figure.wide-card__pic
								picture
									img(src="" data-lazy-src="images/project-3.jpg")
							a.wide-card__link(href="project.html")
								span.wide-card__city Санкт-Петербург
								span.wide-card__link-txt Мультиформатный жилой комплекс «Golden City»
					li.tiles__tile
						article.wide-card 
							figure.wide-card__pic
								picture
									img(src="" data-lazy-src="images/project-4.jpg")
							a.wide-card__link(href="project.html")
								span.wide-card__city Москва
								span.wide-card__link-txt Жилой комплекс на Нагатинской набережной
					li.tiles__tile
						article.wide-card 
							figure.wide-card__pic
								picture
									img(src="" data-lazy-src="images/project-5.jpg")
							a.wide-card__link(href="project.html")
								span.wide-card__city Санкт-Петербург
								span.wide-card__link-txt Мультиформатный жилой комплекс «Golden City»
					li.tiles__tile
						article.wide-card 
							figure.wide-card__pic
								picture
									img(src="" data-lazy-src="images/project-6.jpg")
							a.wide-card__link(href="project.html")
								span.wide-card__city Москва
								span.wide-card__link-txt Жилой комплекс на Нагатинской набережной

		div.page__popup
			include ../../blocks/modules/popup/popup.pug

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/main.js")