extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len one project"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 Project

			//- section hero block width info and actions
			
			//- section photo

			//- section-compose project

			//- section text

			//- section map

			//- section info

			//- section tiles items

			//- page goback

		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug