extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len search"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			section.search
				div.search__inner
					div.search__nofind
						p К сожалению, мы не смогли найти ничего по запросу #[br] #[span “...”]. #[br] Попробуйте изменить Ваш запрос.
					div.search__nopage
						b Такой страницы не существует
						p Пожалуйста, выберите подходящий раздел сайта, воспользуйтесь поиском или начните с главной страницы.
						nav 
							a(href="projects.html") Проекты
							a(href="about.html") Компания
							a(href="services.html") Услуги
							a(href="lab.html") Лаборатория
							a(href="press.html") Пресс-центр
							a(href="contacts.html") Контакты
					div.tiles
						ul.tiles__list
							li.tiles__tile
								article.wide-card
									figure.wide-card__pic
										picture
									a.wide-card__link(href="lab-apartments.html")
										span.wide-card__link-txt Идеальные квартиры «А.Лен»
							li.tiles__tile
								article.wide-card
									figure.wide-card__pic
										picture
									a.wide-card__link(href="lab-apartments.html")
										span.wide-card__link-txt Идеальные квартиры «А.Лен»
							li.tiles__tile
								article.wide-card
									figure.wide-card__pic
										picture
									a.wide-card__link(href="lab-apartments.html")
										span.wide-card__link-txt Идеальные квартиры «А.Лен»
							li.tiles__tile
								article.wide-card
									figure.wide-card__pic
										picture
									a.wide-card__link(href="lab-apartments.html")
										span.wide-card__link-txt Идеальные квартиры «А.Лен»
		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug