extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len search"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header-search.pug
		main.page__main
			section.search
				div.search__inner
					div.search__nofind
						p К сожалению, мы не смогли найти ничего по запросу #[br] #[span “...”]. #[br] Попробуйте изменить Ваш запрос.
					div.tiles
						ul.tiles__list
							li.tiles__tile
								article.wide-card
									figure.wide-card__pic
										picture
											img(src="" data-lazy-src="images/project-1.jpg")
									a.wide-card__link(href="lab-apartments.html")
										span.wide-card__link-txt Идеальные квартиры «А.Лен»
							li.tiles__tile
								article.wide-card
									figure.wide-card__pic
										picture
											img(src="" data-lazy-src="images/project-2.jpg")
									a.wide-card__link(href="lab-apartments.html")
										span.wide-card__link-txt Идеальные квартиры «А.Лен»
							li.tiles__tile
								article.wide-card
									figure.wide-card__pic
										picture
											img(src="" data-lazy-src="images/project-3.jpg")
									a.wide-card__link(href="lab-apartments.html")
										span.wide-card__link-txt Идеальные квартиры «А.Лен»
							li.tiles__tile
								article.wide-card
									figure.wide-card__pic
										picture
											img(src="" data-lazy-src="images/project-4.jpg")
									a.wide-card__link(href="lab-apartments.html")
										span.wide-card__link-txt Идеальные квартиры «А.Лен»
		div.page__popup
			include ../../blocks/modules/popup/popup.pug

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/index.js")