extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len one service"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 Service one

			//- hero banner just image

			//- section text 

			//- slider tiles - chosen projects

			//- goback


		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug