extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len one service"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
						img(src="images/hero-service.jpg" alt="")
			//- section text 
			section.text-section
				div.text-section__inner
					div.text-box.text-section__item.scroll-anim.fade-up
						h1 Генеральное проектирование
						p Что отличает сильную и успешную архитектурную компанию от многих других? 
						p Среди прочего – опыт реализации собственных архитектурных концепций в качестве генерального проектировщика.
						p Сбор воедино всех компетенций – архитекторов, конструкторов, инженеров, технологов, специалистов по пожарной безопасности и по обеспечению доступа инвалидов, квалифицированных поставщиков инженерных изысканий, управление процессом проектирования на всех стадиях, от эскизного проекта, проектной документации и положительного заключения экспертизы до выдачи рабочей документации и авторского надзора над процессом строительства, а также последующие контакты со службой эксплуатации объекта – все это составляющие генерального проектирования в «А.Лен».
			//- slider tiles - chosen projects
			section.items-section 
				div.items-section__inner.scroll-anim.fade-up
					h2.items-section__title Избранные проекты
					div.items-section__content
						div.items-slider.swiper-container
							div.items-slider__wrapper.swiper-wrapper
								div.items-slider__slide.swiper-slide
									article.item-card
										figure.item-card__figure
											picture
												img(src="images/service-1.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 1
										a(href="project.html").item-card__overlink
								div.items-slider__slide.swiper-slide
									article.item-card 
										figure.item-card__figure
											picture 
												img(src="images/service-2.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 2
										a(href="project.html").item-card__overlink
								//- div.items-slider__slide.swiper-slide
									article.item-card
										figure.item-card__figure
											picture
												img(src="images/service-3.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 3
										a(href="project.html").item-card__overlink
								//- div.items-slider__slide.swiper-slide
									article.item-card 
										figure.item-card__figure
											picture 
												img(src="images/service-4.jpg")
										div.item-card__content
											h3.item-card__cap Избранный проект 4
										a(href="project.html").item-card__overlink
							div.items-slider__navigation.slider-pagination.swiper-pagination
			//- goback
			div.page__goback
				a(href="projects-list.html").pill-btn.page__goback-btn Назад

		div.page__popup
			include ../../blocks/modules/popup/popup.pug

		div.page__footer
			include ../../blocks/modules/footer/footer.pug
block scripts
	script(src="js/swiper-bundle.min.js")
	script(src="js/main.js")