extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len one service"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			//- hero banner just image
			section.hero
				figure.hero__figure
					picture
						img(src="images/hero-service.jpg" alt="")
			//- section text 
			section.text-section
				div.text-section__inner
					div.text-box
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur provident fugit error sint saepe distinctio, quibusdam, beatae quisquam quia dolore repellendus, commodi a consequuntur sapiente. Quis reprehenderit repellat amet laborum.
			//- slider tiles - chosen projects
			section.chosen-projects 
				div.chosen-projects__inner
					h2.chosen-projects__title Избранные проекты
					div.items-slider
						div.items-slider__wrapper
							div.items-slider__slide
								article.item-card 
									figure.item-card__figure
										picture 
									div.item-card__content
										h3.item-card__cap Мышь (кродется)
									a(href="project.html").item-card__overlink
							div.items-slider__slide
								article.item-card 
									figure.item-card__figure
										picture 
									div.item-card__content
										h3.item-card__cap Мышь (кродется)
									a(href="project.html").item-card__overlink
						div.items-slider__navigation
			//- goback
			div.page__goback
				a(href="projects-list.html").pill-btn.page__goback-btn Назад

		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug