extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "A-len services"

block content
	div.page
		div.page__header
			include ../../blocks/modules/header/header.pug
		main.page__main
			h1 Services

			//- hero banner just image

			//- section text 



			//- services wide mosaic


		div.page__popup

		div.page__footer
			include ../../blocks/modules/footer/footer.pug