.gallery 
    .gallery__inner
        .gallery__thumbs.swiper-container
            .swiper-wrapper
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-1.webp").swiper-lazy
                    div.swiper-lazy-preloader
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-2.webp").swiper-lazy
                    div.swiper-lazy-preloader
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-3.webp").swiper-lazy
                    div.swiper-lazy-preloader
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-4.webp").swiper-lazy
                    div.swiper-lazy-preloader
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-5.webp").swiper-lazy
                    div.swiper-lazy-preloader
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-6.webp").swiper-lazy
                    div.swiper-lazy-preloader
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-7.webp").swiper-lazy
                    div.swiper-lazy-preloader
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-8.webp").swiper-lazy
                    div.swiper-lazy-preloader
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-1.webp").swiper-lazy
                    div.swiper-lazy-preloader
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-2.webp").swiper-lazy
                    div.swiper-lazy-preloader
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-3.webp").swiper-lazy
                    div.swiper-lazy-preloader
                .swiper-slide.gallery__thumb-slide
                    img(data-src="/images/thumb-4.webp").swiper-lazy
                    div.swiper-lazy-preloader
        .gallery__main.swiper-container
            div.gallery__main-arrow.gallery__main-prev
            div.gallery__main-arrow.gallery__main-next
            .swiper-wrapper 
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-1.webp").swiper-lazy
                        div.swiper-lazy-preloader
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-2.webp").swiper-lazy
                        div.swiper-lazy-preloader
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-3.webp").swiper-lazy
                        div.swiper-lazy-preloader
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-4.webp").swiper-lazy
                        div.swiper-lazy-preloader
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-5.webp").swiper-lazy
                        div.swiper-lazy-preloader
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-6.webp").swiper-lazy
                        div.swiper-lazy-preloader
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-7.webp").swiper-lazy
                        div.swiper-lazy-preloader
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-8.webp").swiper-lazy
                        div.swiper-lazy-preloader
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-1.webp").swiper-lazy
                        div.swiper-lazy-preloader
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-2.webp").swiper-lazy
                        div.swiper-lazy-preloader
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-3.webp").swiper-lazy
                        div.swiper-lazy-preloader
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        img(src="" data-src="/images/thumb-4.webp").swiper-lazy
                        div.swiper-lazy-preloader
    .gallery__mobnav
        .gallery__mobnav-arrow.gallery__mobnav-arrow--prev
        .gallery__mobnav-count
            span.gallery__mobnav-count-curr 0
            span /
            span.gallery__mobnav-count-all 0
        .gallery__mobnav-arrow.gallery__mobnav-arrow--next