.gallery.gallery--single
    .gallery__inner
        .gallery__thumbs.swiper-container
            .swiper-wrapper
        .gallery__main.swiper-container
            div.gallery__main-arrow.gallery__main-prev
            div.gallery__main-arrow.gallery__main-next
            .swiper-wrapper 
                .swiper-slide.gallery__main-slide
                    div.swiper-zoom-container.gallery__main-slideinner
                        
                        div.swiper-lazy-preloader
    .gallery__mobnav
        .gallery__mobnav-arrow.gallery__mobnav-arrow--prev
        .gallery__mobnav-count
            span.gallery__mobnav-count-curr 0
            span /
            span.gallery__mobnav-count-all 0
        .gallery__mobnav-arrow.gallery__mobnav-arrow--next