.gallery 
    .gallery__inner
        .gallery__thumbs.swiper-container
            .swiper-wrapper
                .swiper-slide.gallery__thumb-slide
                    img(src="/images/thumb-1.webp" data-src="")
                .swiper-slide.gallery__thumb-slide
                    img(src="/images/thumb-2.webp" data-src="")
                .swiper-slide.gallery__thumb-slide
                    img(src="/images/thumb-3.webp" data-src="")
                .swiper-slide.gallery__thumb-slide
                    img(src="/images/thumb-4.webp" data-src="")
                .swiper-slide.gallery__thumb-slide
                    img(src="/images/thumb-5.webp" data-src="")
                .swiper-slide.gallery__thumb-slide
                    img(src="/images/thumb-6.webp" data-src="")
                .swiper-slide.gallery__thumb-slide
                    img(src="/images/thumb-7.webp" data-src="")
                .swiper-slide.gallery__thumb-slide
                    img(src="/images/thumb-8.webp" data-src="")
        .gallery__main.swiper-container
            .swiper-wrapper 
                .swiper-slide.gallery__main-slide

    .gallery__mobnav