.grid-section {
	// очень хитрые отступы
	margin-top: var(--mt);
	margin-bottom: var(--mb);
}
.grid-container {
	@include defaultColGrid;
}
.grid-regular-box {
	grid-column: 1 / -1;
	max-width: 1276px + 40px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.grid-wide-box {
	grid-column: 1 / -1;
	width: 100%;
}