.grid-section {

}
.grid-container {
	@include defaultColGrid;
}
.grid-regular-box {
	grid-column: 1 / -1;
	max-width: 1276px + 40px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}
.grid-wide-box {
	
}