sections.comments.comments--project
	div.comments__inner
		h2.comments__title Комментарии
		ul.comments__list
			li.comments__item
				article.comment-item.comment-item--project(data-answer-id="100")
					b.comment-item__name Александр
					div.comment-item__date 03.03.2021
					div.comment-item__text Небольшой загородный дом выполнен из ячеистого бетона и предназначен для постоянного проживания семьи из 4-6 человек. Сдержанные тона в отделке дома вызывают спокойствие и умиротоворение. Планировка дома простая, но функцилнальная и удобная для проживания круглый год. Дом светлый, теплый и комфортный, наличие камина усиливает эффект домашнего уюта.
					div.comment-item__replies
						div.comment-item__replies-item 
							article.comment-item.comment-item--project
								b.comment-item__name Администрация
								div.comment-item__date 03.03.2021
								div.comment-item__text Небольшой загородный дом выполнен из ячеистого бетона и предназначен для постоянного проживания семьи из 4-6 человек. Сдержанные тона в отделке дома вызывают спокойствие и умиротоворение. Планировка дома простая, но функцилнальная и удобная для проживания круглый год. Дом светлый, теплый и комфортный, наличие камина усиливает эффект домашнего уюта
			li.comments__item
				article.comment-item.comment-item--project(data-answer-id="101")
					b.comment-item__name Александр
					div.comment-item__date 03.03.2021
					div.comment-item__text Небольшой загородный дом выполнен из ячеистого бетона и предназначен для постоянного проживания семьи из 4-6 человек. Сдержанные тона в отделке дома вызывают спокойствие и умиротоворение. Планировка дома простая, но функцилнальная и удобная для проживания круглый год. Дом светлый, теплый и комфортный, наличие камина усиливает эффект домашнего уюта.