section.filters.grid-section
	div.filters__inner.grid-container
		form.filters__block.grid-regular-box
			fieldset.filters__item
				div.filters-range
					span.filter-range__label Площадь, м2
					div.filters-range__slider(id="filter-area")
					div.filters-range__fields
			div.filters__controls
				button(type="submit").filters__submit Применить
				button(type="button").filters__clear Сбросить