footer.footer.footer--ah
	div.footer__inner
		div.footer__col
			div(data-scroll-anim).footer__item
				h3.footer__title Проекты
				nav.footer__menu 
					a(href="").footer__menu-link Дома из дерева
					a(href="").footer__menu-link Дома из кирпича
					a(href="").footer__menu-link Дома из пеноблоков
					a(href="").footer__menu-link Каркасные дома
					a(href="").footer__menu-link Гаражи
					a(href="").footer__menu-link Бани
					a(href="").footer__menu-link Таунхаусы
		div.footer__col
			div(data-scroll-anim).footer__item 
				h3.footer__title Покупателю
				nav.footer__menu 
					a(href="").footer__menu-link Как купить
					a(href="").footer__menu-link Состав документации
					a(href="").footer__menu-link Дополнительные услуги
					a(href="").footer__menu-link Авторские права
					a(href="").footer__menu-link Партнеры-строители
					a(href="").footer__menu-link Частые вопросы
					a(href="").footer__menu-link Выбор проекта дома
		div.footer__col
			div(data-scroll-anim).footer__item 
				h3.footer__title Компания
				nav.footer__menu 
					a(href="").footer__menu-link О компании
					a(href="").footer__menu-link Отзывы
					a(href="").footer__menu-link Контакты
			div(data-scroll-anim).footer__item 
				h3.footer__title Галерея готовых домов
				nav.footer__menu 
					a(href="").footer__menu-link Фото
					a(href="").footer__menu-link Видео
		div.footer__col
			a.footer__title Контакты
			a.footer__title москва
			div.footer__address ул. Вавилова 69, оф. 1022
			a(href="tel:+74959726980").footer__phone +7 (495) 972-6980
			a(href="tel:+74959720792").footer__phone +7 (495) 972-0792
			a.footer__title санкт-петербург
			div.footer__address ул. Короленко, 7

			a(href="tel:+78125795581").footer__phone +7 (812) 579-55-81
			a(href="tel:+79219214242").footer__phone +7 (921) 921-42-42
		div.footer__col
			a(href="").footer__question задать вопрос
			ul.footer__social 
				li.footer__social-item 
					a(href="").footer__social-link
						span facebook 
						include ../../components/socicons/facebook.pug
				li.footer__social-item 
					a(href="").footer__social-link 
						span vk
						include ../../components/socicons/vk.pug
				li.footer__social-item 
					a(href="").footer__social-link 
						span instagram
						include ../../components/socicons/inst.pug
				li.footer__social-item 
					a(href="").footer__social-link 
						span pinterest
						include ../../components/socicons/pinterest.pug
				li.footer__social-item 
					a(href="").footer__social-link 
						span behance
						include ../../components/socicons/behance.pug
				li.footer__social-item 
					a(href="").footer__social-link 
						span youtube
						include ../../components/socicons/youtube.pug
			div.footer__policy
				a(href="policy") Политика #[br] конфиденциальности
		div.footer__copy © Архитектурное бюро «А.Лен». Все права защищены.