section.hero-slider.hero-slider--homeproject
	div.hero-slider__inner
		picture.hero-slider__thumb
			img(src="images/index-thumb.png")
		div.hero-slider__objects.swiper-container
			div.swiper-wrapper
				a(href="/project.html").swiper-slide.hero-slider__object
					figure
						picture.hero-slider__picture
							source(srcset="/images/allhomes/project-1.jpg" media="(min-width: 769px")
							source(srcset="images/allhomes/project-mob-1.jpg" media="(max-width: 768px)")
							img(src="")
				a(href="/project.html").swiper-slide.hero-slider__object
					figure
						picture.hero-slider__picture
							source(srcset="/images/slide-pic-2.jpg" media="(min-width: 769px")
							source(srcset="images/slide-pic-mob-2.jpg" media="(max-width: 768px)")
							img(src="")
			div.hero-slider__left.hero-slider__arrow
				div.swiper-button-prev
			div.hero-slider__right.hero-slider__arrow
				div.swiper-button-next
		div.hero-slider__labels.swiper-container
			div.swiper-wrapper
				div.swiper-slide.hero-slider__label.hero-label
					div.hero-label__inner
						div.hero-label__name Проект каркасного дома J-178-1D
						div.hero-label__price 26 000 ₽
						div.hero-label__area 202 м2
				div.swiper-slide.hero-slider__label.hero-label
					div.hero-label__inner
						div.hero-label__name Проект кирпичного дома
						div.hero-label__price 26 000 ₽
						div.hero-label__area 202 м2
		div.swiper-pagination