section.text-section.index-about.grid-section(style="--mt: 160px; --mb: 160px;")
	div.text-section__inner
		h2.index-about__title.text-box Архитектурное бюро «А.Лен»
		div.numbers-box
			dl
				dt 30
				dd лет на рынке архитектурного #[br] проектирования
			dl
				dt 80
				dd штатных архитекторов, #[br] конструкторов, инженеров
			dl
				dt 500+
				dd выполненных проектов
			dl
				dt Более #[br] 1 000 000 м2 
				dd жилья построено по проектам «А.Лен»