section.gallery-preview
	div.gallery-preview__inner
		div.gallery-preview__content
			figure.gallery-preview__picture
				picture
					img(src="images/allhomes/project-2.jpg")
			button.gallery-preview__load.pill-btn.js-popup.js-gallery(type="button" data-modal-id="gallery-project") Видео