section.tripleslider-block
	div.tripleslider-block__inner.grid-container
		div.tripleslider-block__head.grid-regular-box
			h2.tripleslider-block__title Дома, построенные по нашим проектам
			div.tripleslider-block__navigation
				button.tripleslider-block__arrow.tripleslider-block__prev
					svg(width="36" height="20").tripleslider-block__arrow-icon
						use(xlink:href="/images/allhomes/sprite.svg#arrow")
				button.tripleslider-block__arrow.tripleslider-block__next
					svg(width="36" height="20").tripleslider-block__arrow-icon
						use(xlink:href="/images/allhomes/sprite.svg#arrow")
		div.tripleslider-block__slider.grid-wide-box
			div.tripleslider.swiper-container
				div.swiper-wrapper
					article.home-card.swiper-slide
						a(href="ah-project.pug").overlink
						picture.home-card__picture
							img(src="/images/allhomes/cardpic-1.jpg" alt="")
						div.home-card__actions
							button(type="button").home-card__favor
								svg
									use(xlink:href="/images/allhomes/sprite.svg#star")
							button(type="button").home-card__compare
								svg.unactive
									use(xlink:href="/images/allhomes/sprite.svg#compare")
								svg.active
									use(xlink:href="/images/allhomes/sprite.svg#compare-fill")
						div.home-card__info
							div.home-card__cap Проект деревянного дома J-178-1D
							dl.home-card__data
								div
									dt Общая площадь:
									dd 178,3
								div
									dt Материалы:
									dd брус
								div
									dt Этажей:
									dd 2
								div
									dt Конструктив:
									dd с гаражом
					article.home-card.swiper-slide
						a(href="ah-project.pug").overlink
						picture.home-card__picture
							img(src="/images/allhomes/cardpic-2.jpg" alt="")
						div.home-card__actions
							button(type="button").home-card__favor
								svg
									use(xlink:href="/images/allhomes/sprite.svg#star")
							button(type="button").home-card__compare
								svg.unactive
									use(xlink:href="/images/allhomes/sprite.svg#compare")
								svg.active
									use(xlink:href="/images/allhomes/sprite.svg#compare-fill")
						div.home-card__info
							div.home-card__cap Проект деревянного дома J-178-1D
							dl.home-card__data
								div
									dt Общая площадь:
									dd 178,3
								div
									dt Материалы:
									dd брус
								div
									dt Этажей:
									dd 2
								div
									dt Конструктив:
									dd с гаражом
					article.home-card.swiper-slide
						a(href="ah-project.pug").overlink
						picture.home-card__picture
							img(src="/images/allhomes/cardpic-3.jpg" alt="")
						div.home-card__actions
							button(type="button").home-card__favor
								svg
									use(xlink:href="/images/allhomes/sprite.svg#star")
							button(type="button").home-card__compare
								svg.unactive
									use(xlink:href="/images/allhomes/sprite.svg#compare")
								svg.active
									use(xlink:href="/images/allhomes/sprite.svg#compare-fill")
						div.home-card__info
							div.home-card__cap Проект деревянного дома J-178-1D
							dl.home-card__data
								div
									dt Общая площадь:
									dd 178,3
								div
									dt Материалы:
									dd брус
								div
									dt Этажей:
									dd 2
								div
									dt Конструктив:
									dd с гаражом
		a(href="ah-projects.html").tripleslider-block__all.pill-btn Галерея готовых домов