section.tripleslider-block
	div.tripleslider-block__inner.grid-container
		div.tripleslider-block__head.grid-regular-box
			h2.tripleslider-block__title Дома, построенные по нашим проектам
			div.tripleslider-block__navigation
				button.tripleslider-block__arrow.tripleslider-block__prev
				button.tripleslider-block__arrow.tripleslider-block__next
		div.tripleslider-block__slider.grid-wide-box
			div.tripleslider.swiper-container
				div.swiper-wrapper
					article.home-card.swiper-slide
						picture
							img(src="/images/allhomes/cardpic-4.jpg" alt="")
						div.home-card__actions
							button(type="button").home-card__favor
							button(type="button").home-card__compare
						div.home-card__info
							div.home-card__cap Проект деревянного дома J-178-1D
							dl
								div
									dt Общая площадь:
									dd 178,3
								div
									dt Материалы:
									dd брус
								div
									dt Этажей:
									dd 2
								div
									dt Конструктив:
									dd с гаражом
					article.home-card.swiper-slide
						picture
							img(src="/images/allhomes/cardpic-5.jpg" alt="")
						div.home-card__actions
							button(type="button").home-card__favor
							button(type="button").home-card__compare
						div.home-card__info
							div.home-card__cap Проект деревянного дома J-178-1D
							dl
								div
									dt Общая площадь:
									dd 178,3
								div
									dt Материалы:
									dd брус
								div
									dt Этажей:
									dd 2
								div
									dt Конструктив:
									dd с гаражом
					article.home-card.swiper-slide
						picture
							img(src="/images/allhomes/cardpic-6.jpg" alt="")
						div.home-card__actions
							button(type="button").home-card__favor
							button(type="button").home-card__compare
						div.home-card__info
							div.home-card__cap Проект деревянного дома J-178-1D
							dl
								div
									dt Общая площадь:
									dd 178,3
								div
									dt Материалы:
									dd брус
								div
									dt Этажей:
									dd 2
								div
									dt Конструктив:
									dd с гаражом
			a(href="ah-projects.html").pill-btn Галерея готовых домов