section.grid-section
	div.grid-container
		nav.grid-regular-box.paginator.paginator--rounded
			<a class="paginator__item paginator__item--current">1</a>
			<a class="paginator__item" href="/press-center/?PAGEN_1=2">2</a>
			<a class="paginator__item" href="/press-center/?PAGEN_1=3">3</a>
			<a class="paginator__item" href="/press-center/?PAGEN_1=4">4</a>
			<a class="paginator__item" href="/press-center/?PAGEN_1=5">5</a>