section.project-parameters.grid-section(style="--mt: 60px;")
	div.project-parameters__inner.grid-regular-box
		h2.project-parameters__title Характеристики проекта
		dl.project-parameters__list
			div
				dt Площадь, м2
				dd 202 м2
			div
				dt Размер дома 
				dd 7х8
			div
				dt Этажность
				dd 2
			div
				dt Цокольный этаж
				dd есть
			div
				dt Мансарда
				dd есть
			div
				dt Гараж
				dd 2
			div
				dt Спален
				dd 4
			div
				dt Санузлов
				dd 2
			div
				dt Основной материал / наружные стены 
				dd пеноблоки / газобетон / керамические блоки 375-400 мм + утеплитель
			div
				dt Облицовочный материал
				dd пеноблоки / газобетон / керамические блоки 375-400 мм + утеплитель
			div
				dt Наружная отделка
				dd керамические блоки / дерево
		dl.project-parameters__list
			div
				dt Каркас
				dd газобетон
			div
				dt Кровля
				dd гибкая черепица
			div
				dt Тип перекрытий
				dd сборный ж/б
			div
				dt Фундамент
				dd свайно-ростверковый
			div
				dt Стиль
				dd готика
			div
				dt Площадь застройки, м2 
				dd 159
			div
				dt Бассейн
				dd есть
			div
				dt Особенности
				dd большие окна
			div
				dt Высота этажей
				dd 1 - 2,02 м; 2 - 3,03м
			div
				dt Примерная стоимость материалов
				dd 1 000 0000 ₽