extends layouts/default
include helpers/mixins

block variables
	- const title = "A-len"

block content
	div.page
		div.page__header
			include ../blocks/modules/header/header.pug
		main.page__main
			section.hero-slider
			section.shortabout
				<div class="textAbout_col">
					<h1> Архитектурное бюро «А.Лен»</h1>
					<div>
						<p>«А.Лен» – архитектурная мастерская&nbsp;и генпроектная организация, основанная в 1991 году 
							<span><a href="oreshkin.html">Сергеем Орешкиным</a></span>
							<br>
							<span><a style="text-decoration: underline;" title="О главном архитекторе" href="/about/oreshkin/index.php"></a></span>
						</p>
						<p>
						</p>
						<span class="noWrap"><a target="_blank" style="text-decoration: underline;" title="О главном архитекторе" href="/about/oreshkin/index.php"></a></span>
					</div>
					<a style="margin-top:10px" href="/about/" class="default-btn btn-gray">О компании</a>
				</div>
				<div class="textAbout_col">
					<p>Заказчикам строительства <span class="noWrap">и девелоперам</span> Архитектурное бюро «А.Лен» предлагает свой многолетний опыт проектирования зданий <span class="noWrap">и сооружений</span> для создания объектов, обладающих отличительными чертами авторской архитектуры:
					</p>
					<ul>
						<li>Проектирует красивое <span class="noWrap">и функциональное</span> здание</li>
						<li>Определяет «золотую середину» между экономикой <span class="noWrap">и архитектурой</span> жилого дома, бизнес-центра, торгового комплекса</li>
						<li>Придает жизнь камню, металлу, стеклу</li>
						<li>Вписывает новую постройку <span class="noWrap">в сложившуюся</span> среду, выделяя здание среди массы похожих, придав ему индивидуальность, неординарность</li>
					</ul>
				</div>
		div.page__popup
		div.page__footer
			include ../blocks/modules/footer/footer.pug

block scripts
	script(src="js/main.js")