extends layouts/default
include helpers/mixins

block variables
	- const title = "A-len"

block content
	div.page
		div.page__header
			include ../blocks/modules/header/header.pug
		main.page__main
			section.hero-slider
				div.hero-slider__inner
					picture.hero-slider__picture
						img(src="images/index-thumb.png")
			
			section.shortabout
				div.shortabout__inner
					div.shortabout__col
						<h1> Архитектурное бюро «А.Лен»</h1>
						<div>
							| «А.Лен» – архитектурная мастерская&nbsp;и генпроектная организация, основанная в 1991 году 
							<span><a href="about-oreshkin.html" title="О главном архитекторе">Сергеем Орешкиным</a></span>
							<br>
						</div>
						<a href="about.html">О компании</a>
					div.shortabout__col
						<p>Заказчикам строительства <span class="no-wrap">и девелоперам</span> Архитектурное бюро «А.Лен» предлагает свой многолетний опыт проектирования зданий <span class="no-wrap">и сооружений</span> для создания объектов, обладающих отличительными чертами авторской архитектуры:
						</p>
						<ul>
							<li>Проектирует красивое <span class="no-wrap">и функциональное</span> здание</li>
							<li>Определяет «золотую середину» между экономикой <span class="no-wrap">и архитектурой</span> жилого дома, бизнес-центра, торгового комплекса</li>
							<li>Придает жизнь камню, металлу, стеклу</li>
							<li>Вписывает новую постройку <span class="no-wrap">в сложившуюся</span> среду, выделяя здание среди массы похожих, придав ему индивидуальность, неординарность</li>
						</ul>
		div.page__popup
		div.page__footer
			include ../blocks/modules/footer/footer.pug

block scripts
	script(src="js/swiper-bundle.min.js")
	script(src="js/main.js")