.resume-contact-box {
	@include to(768px) {
		grid-template-columns: 1fr;
	}
	display: grid;
	grid-template-columns: auto auto 1fr;
	margin: 20px 0 30px;
	& > div {
		&:nth-child(1) {
			padding-right: 34px;
			min-width: 200px;
		}
		&:nth-child(2) {
			padding-right: 34px;
			min-width: 320px;
		}
		&:nth-child(3) {
			max-width: 325px;
			@include to(768px) {
				max-width: initial;
			}
		}
	}

	b {
		font-weight: 500;
	}

	p {
		margin-bottom: 18px;
	}
}