.text-box {
	grid-column: 4 / span 6;

	h1 {
		font-weight: normal;
		font-size: 35px;
		line-height: 45px;
		color: #292929;
		margin-bottom: 50px;
	}

	h2 {
		font-weight: normal;
		font-size: 32px;
		line-height: 46px;
		color: #292929;
		margin-bottom: 50px;
		margin-top: 60px;
	}

	h3 {
		font-weight: normal;
		font-size: 26px;
		line-height: 40px;
		color: #292929;
		margin-bottom: 50px;
	}

	h4 {
		font-weight: normal;
		font-size: 23px;
		line-height: 36px;
		color: #292929;
		margin-top: 60px;
		margin-bottom: 10px;
	}

	p {
		font-weight: 300;
		font-size: 17px;
		line-height: 190%;
		color: #292929;
		margin-bottom: 32px;
		
	}

	ul {
		padding: 0;
		margin: 0;
		padding-left: 20px;
		margin-top: 20px;
		list-style: none;
	}

	li {
		font-weight: 300;
		font-size: 17px;
		line-height: 32px;
		color: #292929;
		position: relative;
		margin-bottom: 14px;

		&::before {
			content: "";
			position: absolute;
			left: -18px;
			top: 12px;
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: #000;
		}
	}

	b {
		font-weight: 500;
	}

	a:not(.pill-btn) {
		color: #0058dd;
	}

	&--short {
		max-width: 580px;
	}

	* {
		&.no-mt {
			margin-top: 0;
		}
	}

	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}