footer.footer
    .footer__inner 
        div.footer__col
            div.footer__item 
                h3.footer__title Проекты
                nav.footer__menu 
                    a(href="").footer__menu-link Избранное
                    a(href="").footer__menu-link Новые проекты
                    a(href="").footer__menu-link Жилые здания и комплексы
                    a(href="").footer__menu-link Градостроительные проекты, мастер-планы
                    a(href="").footer__menu-link Спортивные объекты
                    a(href="").footer__menu-link Музеи и театры
                    a(href="").footer__menu-link Отели и апартаменты
                    a(href="").footer__menu-link Офисные здания
                    a(href="").footer__menu-link Реновация и реконструкция
                    a(href="").footer__menu-link Торговые комплексы
                    a(href="").footer__menu-link Автоцентры
                    a(href="").footer__menu-link Объекты транспортной инфраструктуры
                    a(href="").footer__menu-link Дизайн-проекты интерьеров
                    a(href="").footer__menu-link Социальные объекты
                    a(href="").footer__menu-link Благоустройство, ландшафтный дизайн
                    a(href="").footer__menu-link Коттеджные поселки
                    a(href="").footer__menu-link Alenpro.ru – проекты домов и коттеджей
                    a(href="").footer__menu-link Прочие объекты
        div.footer__col
            div.footer__item 
                h3.footer__title Компания
                nav.footer__menu 
                    a(href="").footer__menu-link Сергей Орешкин
                    a(href="").footer__menu-link История
                    a(href="").footer__menu-link Награды
                    a(href="").footer__menu-link Сертификаты
                    a(href="").footer__menu-link Карьера
            div.footer__item 
                h3.footer__title Лаборатория
                nav.footer__menu 
                    a(href="").footer__menu-link Идеальные квартиры «А.Лен»
                    a(href="").footer__menu-link Цветовая лаборатория «А.Лен»
                    a(href="").footer__menu-link A.Len Architectural Toolkit
                    a(href="").footer__menu-link A.Len Brickwork
                    a(href="").footer__menu-link Маркетинговая инфографика «А.Лен»
        div.footer__col
            div.footer__item 
                h3.footer__title Услуги
                nav.footer__menu 
                    a(href="").footer__menu-link Генеральное проектирование 
                    a(href="").footer__menu-link Градостроительная оценка территории 
                    a(href="").footer__menu-link Разработка архитектурной концепции 
                    a(href="").footer__menu-link Брендинг проекта 
                    a(href="").footer__menu-link Разрешение на УРВИ 
                    a(href="").footer__menu-link Разрешение на отклонение от предельных параметров строительства 
                    a(href="").footer__menu-link Разработка материалов АГО, АГР 
                    a(href="").footer__menu-link Разработка проектно-сметной документации (ПД) 
                    a(href="").footer__menu-link Разработка рабочей документации (РД) 
                    a(href="").footer__menu-link Согласование проектов 
                    a(href="").footer__menu-link Авторский надзор 
                    a(href="").footer__menu-link Авторский надзор после ввода в эксплуатацию 
        div.footer__col
            a.footer__title Пресс-центр
            a.footer__title Контакты
            div.footer__address 191014, Россия, Санкт-Петербург, #[br] ул. Короленко, д. 7
            a(href="tel:+78125795581").footer__phone +7 (812) 579-55-81
            ul.footer__social 
                li.footer__social-item 
                    a(href="").footer__social-link
                        span facebook 
                        include ../../components/socicons/facebook.pug
                li.footer__social-item 
                    a(href="").footer__social-link 
                        span vk
                        include ../../components/socicons/vk.pug
                li.footer__social-item 
                    a(href="").footer__social-link 
                        span instagram
                        include ../../components/socicons/inst.pug
                li.footer__social-item 
                    a(href="").footer__social-link 
                        span pinterest
                        include ../../components/socicons/pinterest.pug
                li.footer__social-item 
                    a(href="").footer__social-link 
                        span behance
                        include ../../components/socicons/behance.pug
                li.footer__social-item 
                    a(href="").footer__social-link 
                        span youtube
                        include ../../components/socicons/youtube.pug
            a(href="/en").footer__lang English
            a(href="/privacy").footer__policy Политика конфиденциальности
            .footer__sub-info Нашли ошибку? #[br] Выделите ее и нажмите #[span Ctrl+Enter]
            div.footer__copy © Архитектурное бюро «А.Лен». #[br] Все права защищены.