.no-wrap {
	white-space: nowrap;
	display: inline;
}

.no-topgap {
	margin-top: 0 !important;
}

.no-bottomgap {
	margin-bottom: 0 !important;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.icon {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: inline-block;
}

.section-mb {
	margin-bottom: 90px;
}

.nomobile {
	@include to(768px) {
		display: none;
	}
}

.nodesktop {
	@include from(769px) {
		display: none;
	}
}